Repository arc53/DocsGPT, pull requests merged in 2023-11, with the labels that each got.

#756 docs: fix grammar issues
  docs/pages/Deploying/Railway-Deploying.md
  docs/pages/Guides/Customising-prompts.md
  extensions/react-widget/README.md
Labels: docs, extensions

#759 Render tables in conversation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#762 [Code]:Setting Section UI
  frontend/src/Setting.tsx
Labels: frontend

#763 Corrected Typo on _meta.json
  docs/pages/Deploying/_meta.json
Labels: docs

#764 Add DigitalOcean Droplet Hosting solution to Hosting-the-app.md
  docs/pages/Deploying/Hosting-the-app.md
Labels: docs

#776 Feature/settings api
  application/api/answer/routes.py
  application/api/user/routes.py
  application/prompts/chat_combine_creative.txt
  application/prompts/chat_combine_default.txt
  application/prompts/chat_combine_strict.txt
  application/prompts/combine_prompt.txt
  application/prompts/combine_prompt_hist.txt
  application/prompts/question_prompt.txt
  frontend/src/Navigation.tsx
  frontend/src/Setting.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/preferences/preferenceApi.ts
  frontend/src/preferences/preferenceSlice.ts
  frontend/src/store.ts
  package-lock.json
  package.json
Labels: repo, frontend, application

#775 style(README): markdown highlight Note section
  README.md
Labels: repo

#779 fix path bug on default
  application/api/answer/routes.py
Labels: application

#780 docs: refer delete_old sample docs_check comments API-docs
  docs/pages/Developing/API-docs.md
Labels: docs

#513 Mock backend server
  docker-compose-mock.yaml
  mock-backend/Dockerfile
  mock-backend/package-lock.json
  mock-backend/package.json
  mock-backend/src/mocks/db.json
  mock-backend/src/mocks/routes.json
  mock-backend/src/server.js
Labels: repo

#782 Feature/add prompts
  application/api/answer/routes.py
  application/api/user/routes.py
  frontend/src/Setting.tsx
  frontend/src/conversation/conversationApi.ts
  frontend/src/conversation/conversationSlice.ts
  frontend/src/preferences/preferenceSlice.ts
  frontend/src/store.ts
Labels: frontend, application
