Repository arc53/DocsGPT, pull requests merged in 2023-10, with the labels that each got.

#435 I have changed icons & text for Discord and Github in the left sidebar.
  frontend/src/Navigation.tsx
  frontend/src/assets/discord.svg
  frontend/src/assets/github.svg
Labels: hacktoberfest-accepted, hacktoberfest

#472 Fix: Conversations tabs overlapping
  frontend/src/Navigation.tsx
Labels: frontend

#473 Hero section's figma UI changes
  frontend/src/Hero.tsx
Labels: frontend

#462 Update README.md -- Fixed #453
  README.md
Labels: repo

#454 Update About.tsx
  frontend/src/About.tsx
Labels: frontend

#491 Fix About page to Conversation navigation
  frontend/src/Navigation.tsx
Labels: frontend

#492 Color of all buttons and elements changed from blue to #7D54D1
  docs/pages/Developing/API-docs.md
  extensions/chrome/popup.html
  extensions/chrome/popup.js
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/upload/Upload.tsx
  frontend/tailwind.config.cjs
Labels: hacktoberfest-accepted, docs, frontend, extensions

#478 Fix "Sources" Feature doesn't look as intended
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#486 Krishvsoni patch 1
  README.md
Labels: repo

#496 Make text bold
  CONTRIBUTING.md
Labels: repo

#506 🪛 Fix: About us page margin
  frontend/src/About.tsx
Labels: frontend

#480 Improved docs - readme , contributing and hacktoberfest files
  CONTRIBUTING.md
  HACKTOBERFEST.md
  README.md
Labels: repo

#509 add license link to readme.md
  README.md
Labels: repo

#469 Update How-to-train-on-other-documentation.md
  docs/pages/Guides/How-to-train-on-other-documentation.md
Labels: docs

#512 Grammar and punctuations improved
  docs/pages/Deploying/Hosting-the-app.md
  docs/pages/Deploying/Quickstart.md
  docs/pages/Developing/API-docs.md
  docs/pages/Extensions/Chatwoot-extension.md
  docs/pages/Extensions/react-widget.md
  docs/pages/Guides/Customising-prompts.md
  docs/pages/Guides/How-to-train-on-other-documentation.md
  docs/pages/Guides/How-to-use-different-LLM.md
  docs/pages/Guides/My-AI-answers-questions-using-external-knowledge.md
Labels: docs

#515 Fix: adjust left margin on content container
  frontend/src/App.tsx
Labels: frontend

#503 added the copy response feature
  frontend/.env.development
  frontend/package-lock.json
  frontend/package.json
  frontend/src/About.tsx
  frontend/src/assets/checkmark.svg
  frontend/src/assets/copy.svg
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#519 Feature: Round Corners
  frontend/src/Navigation.tsx
  frontend/src/conversation/Conversation.tsx
Labels: frontend

#493 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: repo

#477 [FIX] Question is hidden under the question input box
  frontend/src/Hero.tsx
  frontend/src/conversation/Conversation.tsx
Labels: frontend

#511 [API Docs] Add Backlink to "Vector Stores" and fix grammatical error
  docs/pages/Developing/API-docs.md
Labels: docs

#437 [Enhanced]: Useful Links Section in README.md
  README.md
Labels: hacktoberfest-accepted, hacktoberfest, repo

#522 Updated My-AI-answers-questions-using-external-knowledge.md
  docs/pages/Guides/My-AI-answers-questions-using-external-knowledge.md
Labels: docs

#476 Fix missing documentation for using Llama_cpp
  docs/pages/Guides/How-to-use-different-LLM.md
Labels: docs

#525 bug(front): The text seems to go out of screen when the result is too big.
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#530 Backend Code Refactoring for Better Readability and Scalability
  application/worker.py
  scripts/ingest.py
Labels: application, scripts

#532 Fix the error state UI
  frontend/src/conversation/ConversationBubble.tsx
  frontend/tailwind.config.cjs
Labels: frontend

#535 Correct instructions in `Development environments`
  README.md
Labels: repo

#538 UI bug fixed - Placed the feedback/copy buttons at the top
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#549 UI update - Added autofocus for user chat input
  frontend/src/conversation/Conversation.tsx
Labels: frontend

#542 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: repo

#573 fix update and delete bug
  frontend/src/Navigation.tsx
Labels: frontend

#510 Update API-docs.md
  docs/pages/Developing/API-docs.md
Labels: docs

#589 Closing #357 using CONTRIBUTING.md
  CONTRIBUTING.md
Labels: repo

#592 Fix the font size and alignment of all the chat options of the sidebar based on issue #586
  frontend/src/Navigation.tsx
  frontend/src/conversation/ConversationTile.tsx
Labels: frontend

#597 [Docs] :Enhance Tech Stack Overview with Emojis and Bullet Points
  CONTRIBUTING.md
Labels: repo

#558 Train button Disabled Before Selecting File
  frontend/src/upload/Upload.tsx
Labels: frontend

#598 refactor(frontend): simplify JSX conditional rendering
  frontend/src/Navigation.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationTile.tsx
Labels: frontend

#602 Update README.md
  README.md
Labels: repo

#460 Modified README resolving issue #457
  README.md
Labels: hacktoberfest-accepted, repo

#574 Enhanced Documentation for Self-Hosting DocsGPT on Amazon Lightsail
  docs/pages/Deploying/Hosting-the-app.md
Labels: docs

#580 Dhruvkadam22 patch 5
  README.md
  docs/pages/Deploying/Quickstart.md
Labels: docs, repo

#607 sidebar glitch fixed
  frontend/src/Navigation.tsx
Labels: frontend

#609 CONTRIBUTING.MD : Added DocsGPT -Hacktoberfest t-shirt images
  Assets/DocsGPT tee-back.jpeg
  Assets/DocsGPT tee-front.jpeg
  CONTRIBUTING.md
Labels: repo

#595 fix: Remove extra spaces in response
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#579 Adds contributing guidelines with steps
  CONTRIBUTING.md
Labels: repo

#610 Quickstart: Enhanced Documentation for Launching DocsGPT and Installing Chrome Extension
  docs/pages/Deploying/Quickstart.md
Labels: docs

#614 Update Chatwoot-extension.md
  docs/pages/Extensions/Chatwoot-extension.md
Labels: docs

#588 raise more legible error if the word embedding dimensions don't match
  application/requirements.txt
  application/vectorstore/faiss.py
  tests/test_vector_store.py
Labels: application, tests

#616 Fixed Typo
  docs/pages/Deploying/Hosting-the-app.md
Labels: docs

#624 [FE]Fix footer width ob md+ screens
  frontend/src/conversation/Conversation.tsx
Labels: frontend

#615 FIX: added script in package.json of docs and added instructions to run nextra-DocsGPT locally
  docs/README.md
  docs/package.json
Labels: docs

#625 [FE]Prevent unneccessary renders.
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#619 fix: Direction of dropdown arrow corrected
  frontend/src/Navigation.tsx
Labels: frontend

#633 Added Civo Cloud Deployment option.
  docs/pages/Deploying/Hosting-the-app.md
Labels: docs

#620 Enhancement: Improve API Endpoint Documentation
  docs/pages/Developing/API-docs.md
Labels: docs

#577 added delete index of vector store in faiss
  application/api/user/routes.py
  application/vectorstore/faiss.py
Labels: application

#627 Fixed Typo
  README.md
Labels: repo

#504 Improving Customising_prompt.md file
  docs/pages/Guides/Customising-prompts.md
Labels: docs

#636 Update README.md
  README.md
Labels: repo

#637 Update How-to-train-on-other-documentation.md
  docs/pages/Guides/How-to-train-on-other-documentation.md
Labels: docs

#639 Update How-to-use-different-LLM.md
  docs/pages/Guides/How-to-use-different-LLM.md
Labels: docs

#647 Design the Settings UI
  docs/README.md
Labels: hacktoberfest-accepted, docs

#650 [Bug]:About section not Aligned.
  frontend/src/About.tsx
Labels: frontend

#626 Update react-widget.md
  docs/pages/Extensions/react-widget.md
Labels: docs

#653 I have aligned about page in the center.
  frontend/src/About.tsx
Labels: frontend

#654 Enhanced Hooks with Outside Click Handling and Dark Mode Detection
  frontend/src/hooks/index.ts
Labels: frontend

#656 added the 3 cards in hero section with gradient border also its respo…
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Hero.tsx
Labels: frontend

#641 I have changed icon for Documentation in the left side bar.
  frontend/src/Navigation.tsx
  frontend/src/assets/documentation.svg
Labels: frontend

#651 Enhanced Chatwoot-Extension
  docs/pages/Extensions/Chatwoot-extension.md
Labels: docs

#652 Enhance backdrop modal effect
  frontend/tailwind.config.cjs
Labels: frontend

#668 Fix something went wrong message bubble
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#670 Railway Deployment Guide Added
  docs/pages/Deploying/Railway-Deploying.md
  docs/pages/Deploying/image.png
Labels: docs

#537 Updated CONTRIBUTING.md
  CONTRIBUTING.md
Labels: repo

#663 Updated workflow of Contributing.md
  CONTRIBUTING.md
Labels: repo

#676 Fixed overflow
  frontend/src/Navigation.tsx
Labels: frontend

#677 Fixed Typos and minor issues in CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: repo

#681 Enhancement: Update react-widget.md docs
  docs/pages/Extensions/react-widget.md
Labels: docs

#675 Patch 2
  README.md
Labels: repo

#690 Update README.md
  README.md
Labels: repo

#692 Enhanced How-to-use-different-LLM.md
  docs/pages/Guides/How-to-use-different-LLM.md
Labels: docs

#556 Parser for OpenAPI3(Swagger)
  application/parser/file/openapi3_parser.py
  application/requirements.txt
  scripts/parser/file/openapi3_parser.py
  scripts/requirements.txt
  tests/test_openapi3.yaml
  tests/test_openapi3parser.py
Labels: application, scripts, tests

#694 [Add] Vite and react documentation link
  README.md
Labels: repo

#688 Feature: left side toggle button should be sticky
  frontend/src/Navigation.tsx
Labels: frontend

#672 [feature] : The UI of the feedback icons has been changed.
  frontend/src/assets/checkmark.svg
  frontend/src/conversation/ConversationBubble.tsx
  frontend/tailwind.config.cjs
Labels: frontend

#703 Background color of like/dislike has been changed
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#707 docs: Typo in quickstart guide fixed
  README.md
Labels: repo

#721 anthropic LLM
  application/api/answer/routes.py
  application/llm/anthropic.py
  application/llm/llm_creator.py
  application/requirements.txt
  docker-compose.yaml
  tests/llm/test_anthropic.py
Labels: repo, application, tests

#725 Design the Remote sources upload menu UI
  docs/pages/Developing/API-docs.md
Labels: docs

#679 fix: Hero section styling fixed, made responsive across all devices
  frontend/src/Hero.tsx
Labels: frontend

#719 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: repo

#723 Fix typo
  CODE_OF_CONDUCT.md
  docs/pages/Deploying/Railway-Deploying.md
Labels: docs, repo

#710 Make README accessible
  README.md
Labels: repo

#728 Update/docs improve and fixes
  docs/README.md
  docs/pages/Deploying/Quickstart.md
  docs/pages/Developing/API-docs.md
Labels: docs

#722 Update sidebar UI and Logo
  frontend/src/About.tsx
  frontend/src/Avatar.tsx
  frontend/src/Hero.tsx
  frontend/src/Navigation.tsx
  frontend/src/assets/add.svg
  frontend/src/assets/cute_docsgpt3.svg
  frontend/src/assets/documentation.svg
  frontend/src/assets/expand.svg
  frontend/src/conversation/ConversationBubble.tsx
  frontend/tailwind.config.cjs
Labels: frontend

#731 Update README.md
  README.md
Labels: repo

#709 feat: made color accessible
  frontend/src/conversation/Conversation.tsx
Labels: frontend

#746 Fixed branch name from `master` to `main` in the contributing guide.
  CONTRIBUTING.md
Labels: repo

#749 Fixed wrong closing parenthesis in `codecov.yml`
  codecov.yml
Labels: repo

#750 style: formatting API-docs close parenthesis comment core/settings.py
  application/core/settings.py
  docs/pages/Developing/API-docs.md
Labels: docs, application

#739 Enhancement: Updated Train other docs
  docs/pages/Guides/Customising-prompts.md
  docs/pages/Guides/How-to-train-on-other-documentation.md
Labels: docs

#738 Enhanced Guides/Customization.md
  docs/pages/Guides/Customising-prompts.md
Labels: docs

#691 Feature: Add "Settings" Button to sidebar
  frontend/src/App.tsx
  frontend/src/Navigation.tsx
  frontend/src/Setting.tsx
  frontend/src/assets/arrow-left.svg
  frontend/src/assets/arrow-right.svg
  frontend/src/assets/settingGear.svg
  frontend/tailwind.config.cjs
Labels: frontend

#754 Fix Guide: How to use other LLMS
  docs/pages/Guides/How-to-use-different-LLM.md
Labels: docs

#757 Update README.md
  README.md
Labels: repo
