Repository arc53/DocsGPT, pull requests merged in 2023-12, with the labels that each got.

#791 Add getLocalPrompt and setLocalPrompt functions to preferenceApi.ts
  frontend/src/preferences/preferenceApi.ts
  frontend/src/preferences/preferenceSlice.ts
  frontend/src/store.ts
Labels: frontend

#795 fix: API docs text overflow
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#797 Fix_hero
  frontend/src/Hero.tsx
  frontend/src/Navigation.tsx
Labels: frontend

#801 Update requirements.txt HF Transformers
  application/requirements.txt
Labels: application

#803 fix: cve upgrades
  application/Dockerfile
  application/core/settings.py
  application/requirements.txt
Labels: application

#805 fix: vulns
  scripts/requirements.txt
Labels: scripts

#806 fix: Remove py==1.11.0 from requirements.txt
  application/requirements.txt
  scripts/requirements.txt
Labels: application, scripts

#799 Creating a Seprate Page for Signup and Signin
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Hero.tsx
  frontend/src/Login/ForgotPass.tsx
  frontend/src/Login/Login.tsx
  frontend/src/Login/ResetCode.tsx
  frontend/src/Login/Signup.tsx
  frontend/src/conversation/Conversation.tsx
Labels: frontend

#811 Added new Deployment Guide for Kamatera Performance Cloud
  docs/pages/Deploying/Hosting-the-app.md
Labels: docs
