Repository arc53/DocsGPT, pull requests merged in 2024-02, with the labels that each got.

#844 Fix: Sidebar Icons update on changing theme
  frontend/src/App.tsx
  frontend/src/Hero.tsx
  frontend/src/Navigation.tsx
  frontend/src/Setting.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationTile.tsx
  frontend/src/hooks/index.ts
Labels: frontend

#820 Bump dependencies & support next 14 for docs
  docs/next.config.js
  docs/package-lock.json
  docs/package.json
  docs/pages/_app.mdx
Labels: docs

#847 Fix : error on changing conversation while streaming answer
  frontend/src/Navigation.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/conversationApi.ts
  frontend/src/conversation/conversationSlice.ts
  frontend/src/hooks/index.ts
Labels: frontend

#848 Makes input field absolute in Conversation, fixes delete icon in Settings/Documents
  frontend/src/Setting.tsx
  frontend/src/conversation/Conversation.tsx
Labels: frontend

#850 adding remote uploads tab
  frontend/src/upload/Upload.tsx
  frontend/tailwind.config.cjs
Labels: frontend

#851 Add PremAI LLM implementation
  application/core/settings.py
  application/llm/llm_creator.py
  application/llm/premai.py
Labels: application

#860 Fixing ingestion metadata grouping
  .gitignore
  application/parser/file/bulk.py
  application/parser/token_func.py
  frontend/src/conversation/Conversation.tsx
Labels: frontend, application
