Repository arc53/DocsGPT, pull requests merged in 2024-04, with the labels that each got.

#896 api update
  docs/pages/Developing/API-docs.md
Labels: docs

#895 added feature #887
  application/api/answer/routes.py
  frontend/src/components/SourceDropdown.tsx
  frontend/src/conversation/conversationApi.ts
Labels: frontend, application

#899 feat: added prompts section under general in settings
  frontend/src/Setting.tsx
  frontend/src/components/Dropdown.tsx
  frontend/src/preferences/PromptsModal.tsx
  frontend/src/upload/Upload.tsx
Labels: frontend

#902 Add Prompt, Chunks in Create Key
  application/api/user/routes.py
  frontend/src/Setting.tsx
  frontend/src/components/Dropdown.tsx
  frontend/src/upload/Upload.tsx
Labels: frontend, application

#903 Feature/api key create
  application/api/user/routes.py
  frontend/src/Setting.tsx
  frontend/src/components/Dropdown.tsx
  frontend/src/upload/Upload.tsx
Labels: frontend, application

#904 Update api key to new data
  docs/pages/_app.mdx
Labels: docs

#908 API keys guide
  docs/pages/Developing/API-docs.md
  docs/pages/Extensions/_meta.json
  docs/pages/Extensions/api-key-guide.md
Labels: docs

#907 refactor: clean up settings file for better structure
  frontend/src/App.tsx
  frontend/src/Setting.tsx
  frontend/src/components/Dropdown.tsx
  frontend/src/models/misc.ts
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/Documents.tsx
  frontend/src/settings/General.tsx
  frontend/src/settings/Prompts.tsx
  frontend/src/settings/Widgets.tsx
  frontend/src/settings/index.tsx
Labels: frontend

#916 fix: updated qdrant-client to v1.8.2
  application/requirements.txt
Labels: application

#921 fix for missing fields in API Keys section
  frontend/src/components/Dropdown.tsx
  frontend/src/models/misc.ts
  frontend/src/preferences/PromptsModal.tsx
  frontend/src/settings/APIKeys.tsx
  frontend/src/upload/Upload.tsx
Labels: frontend

#925 Untraced types in react widget
  extensions/react-widget/package-lock.json
  extensions/react-widget/package.json
  extensions/react-widget/src/components/DocsGPTWidget.tsx
  extensions/react-widget/src/types/index.ts
Labels: extensions

#926 Feature: Logging token usage info to MongoDB
  application/api/answer/routes.py
  application/llm/anthropic.py
  application/llm/base.py
  application/llm/docsgpt_provider.py
  application/llm/huggingface.py
  application/llm/llama_cpp.py
  application/llm/llm_creator.py
  application/llm/openai.py
  application/llm/premai.py
  application/llm/sagemaker.py
  application/retriever/brave_search.py
  application/retriever/classic_rag.py
  application/retriever/duckduck_search.py
  application/usage.py
Labels: application
