Repository arc53/DocsGPT, pull requests merged in 2024-09, with the labels that each got.

#1111 Widget: Replaced deprecated dependency
  extensions/react-widget/package-lock.json
  extensions/react-widget/package.json
  extensions/react-widget/src/components/DocsGPTWidget.tsx
Labels: extensions

#1112 feat: added easy way to proxy
  application/core/settings.py
  application/llm/openai.py
  docs/pages/Guides/How-to-use-different-LLM.mdx
Labels: docs, application

#1113 Refining the scrolling functionality while streaming
  extensions/react-widget/package-lock.json
  extensions/react-widget/package.json
  extensions/react-widget/publish.sh
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend, extensions

#1045 Integrated Milvus Vector DB into main
  application/core/settings.py
  application/requirements.txt
  application/vectorstore/base.py
  application/vectorstore/faiss.py
  application/vectorstore/milvus.py
  application/vectorstore/vector_creator.py
  docker-compose-azure.yaml
  docker-compose-dev.yaml
  docker-compose-local.yaml
  docker-compose-mock.yaml
  docker-compose.yaml
Labels: repo, application

#1062 Migrating database to new model
  application/api/answer/routes.py
  application/api/internal/routes.py
  application/api/user/routes.py
  application/parser/open_ai_func.py
  application/retriever/classic_rag.py
  application/vectorstore/elasticsearch.py
  application/vectorstore/faiss.py
  application/vectorstore/mongodb.py
  application/vectorstore/qdrant.py
  application/worker.py
  frontend/src/Navigation.tsx
  frontend/src/api/endpoints.ts
  frontend/src/components/Dropdown.tsx
  frontend/src/components/SourceDropdown.tsx
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/conversationModels.ts
  frontend/src/modals/CreateAPIKeyModal.tsx
  frontend/src/modals/ShareConversationModal.tsx
  frontend/src/models/misc.ts
  frontend/src/preferences/SelectDocsModal.tsx
  frontend/src/preferences/preferenceApi.ts
  frontend/src/preferences/preferenceSlice.ts
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/Documents.tsx
  frontend/src/settings/index.tsx
  frontend/src/store.ts
  frontend/src/upload/Upload.tsx
  scripts/migrate_to_v1_vectorstore.py
Labels: frontend, application, scripts

#1118 1059 migrating database to new model
  application/api/answer/routes.py
  application/api/internal/routes.py
  application/api/user/routes.py
  application/parser/open_ai_func.py
  application/retriever/classic_rag.py
  application/vectorstore/elasticsearch.py
  application/vectorstore/faiss.py
  application/vectorstore/mongodb.py
  application/vectorstore/qdrant.py
  application/worker.py
  frontend/src/Navigation.tsx
  frontend/src/api/endpoints.ts
  frontend/src/components/Dropdown.tsx
  frontend/src/components/SourceDropdown.tsx
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/conversationModels.ts
  frontend/src/hooks/useDefaultDocument.ts
  frontend/src/modals/CreateAPIKeyModal.tsx
  frontend/src/modals/ShareConversationModal.tsx
  frontend/src/models/misc.ts
  frontend/src/preferences/preferenceApi.ts
  frontend/src/preferences/preferenceSlice.ts
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/Documents.tsx
  frontend/src/settings/index.tsx
  frontend/src/store.ts
  frontend/src/upload/Upload.tsx
  scripts/migrate_to_v1_vectorstore.py
Labels: frontend, application, scripts

#1117 Adding option to collect feedback in React widget
  application/api/user/routes.py
  extensions/react-widget/package.json
  extensions/react-widget/src/assets/dislike.svg
  extensions/react-widget/src/assets/like.svg
  extensions/react-widget/src/components/DocsGPTWidget.tsx
  extensions/react-widget/src/requests/streamingApi.ts
  extensions/react-widget/src/types/index.ts
Labels: application, extensions

#1116 Feature: Analytics and Logs Dashboard
  application/api/answer/routes.py
  application/api/user/routes.py
  application/retriever/base.py
  application/retriever/brave_search.py
  application/retriever/classic_rag.py
  application/retriever/duckduck_search.py
  frontend/package-lock.json
  frontend/package.json
  frontend/public/fonts/IBMPlexMono-Medium.ttf
  frontend/src/api/endpoints.ts
  frontend/src/api/services/userService.ts
  frontend/src/assets/chevron-right.svg
  frontend/src/components/CopyButton.tsx
  frontend/src/components/Dropdown.tsx
  frontend/src/components/Input.tsx
  frontend/src/components/types/index.ts
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/index.css
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/zh.json
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/Analytics.tsx
  frontend/src/settings/General.tsx
  frontend/src/settings/Logs.tsx
  frontend/src/settings/index.tsx
  frontend/src/settings/types/index.ts
  frontend/src/upload/Upload.tsx
  frontend/src/utils/chartUtils.ts
  frontend/src/utils/dateTimeUtils.ts
Labels: frontend, application

#1120 Load sources on shared conversations
  application/api/answer/routes.py
  application/api/user/routes.py
  frontend/src/conversation/SharedConversation.tsx
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/sharedConversationSlice.ts
Labels: frontend, application

#1123 Fix : overflow in queries
  frontend/package-lock.json
  frontend/package.json
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#1138 fix(Docker): Integrate a bind mount in the local docker compose file
  docker-compose-local.yaml
Labels: repo

#1132 Fix UI for mobile devices
  frontend/src/App.tsx
  frontend/src/Hero.tsx
  frontend/src/Navigation.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/conversationSlice.ts
  frontend/src/index.css
  frontend/src/settings/index.tsx
Labels: frontend

#1140 Stream sources
  application/api/answer/routes.py
  frontend/src/conversation/SharedConversation.tsx
  frontend/src/conversation/conversationSlice.ts
  frontend/src/conversation/sharedConversationSlice.ts
Labels: frontend, application

#1153 fix: updated docker execution script from `docker-compose` to `docker…
  run-with-docker-compose.sh
Labels: repo
