Repository arc53/DocsGPT, pull requests merged in 2024-03, with the labels that each got.

#863 feat: Qdrant vectorstore support
  application/core/settings.py
  application/requirements.txt
  application/vectorstore/qdrant.py
  application/vectorstore/vector_creator.py
Labels: application

#872 Widget UI fixes
  extensions/react-widget/src/components/DocsGPTWidget.tsx
Labels: extensions

#873 Docs Update
  docs/package.json
  docs/pages/Extensions/react-widget.md
  extensions/react-widget/package.json
  extensions/react-widget/src/components/DocsGPTWidget.tsx
  extensions/react-widget/src/index.html
Labels: docs, extensions

#867 fix: issue #157
  frontend/src/Navigation.tsx
  frontend/src/Setting.tsx
  frontend/src/components/Dropdown.tsx
  frontend/src/components/SourceDropdown.tsx
  frontend/src/upload/Upload.tsx
Labels: frontend

#876 Pause Auto-scroll on user interrupt
  docs/package.json
  extensions/react-widget/package-lock.json
  extensions/react-widget/package.json
  extensions/react-widget/src/components/DocsGPTWidget.tsx
  extensions/react-widget/src/requests/streamingApi.ts
  frontend/src/App.tsx
  frontend/src/Hero.tsx
  frontend/src/Navigation.tsx
  frontend/src/conversation/Conversation.tsx
Labels: docs, frontend, extensions

#880 Customised Scrollbar, fixed: Hero wasn't completely scrollable in Mobile
  frontend/src/Hero.tsx
  frontend/src/Navigation.tsx
  frontend/src/index.css
Labels: frontend

#881 Fix model selection at least for openAI LLM_NAME
  application/api/answer/routes.py
  application/core/settings.py
Labels: application

#888 Fix parsing issue with chunks in store.ts
  frontend/src/store.ts
Labels: frontend

#877 Added reddit loader
  .gitignore
  application/parser/remote/reddit_loader.py
  application/parser/remote/remote_creator.py
  application/worker.py
  frontend/src/components/Dropdown.tsx
  frontend/src/upload/Upload.tsx
Labels: frontend, application

#892 Feature/api key create
  frontend/src/Setting.tsx
  frontend/src/components/Dropdown.tsx
  frontend/src/index.css
  frontend/tailwind.config.cjs
Labels: frontend

#894 Feature/api key create
  application/api/answer/routes.py
  application/api/user/routes.py
  frontend/src/Setting.tsx
  frontend/src/components/Dropdown.tsx
  frontend/src/conversation/conversationApi.ts
  frontend/src/conversation/conversationSlice.ts
  frontend/src/index.css
  frontend/tailwind.config.cjs
Labels: frontend, application
