Repository arc53/DocsGPT, pull requests merged in 2024-11, with the labels that each got.

#1408 Adding sorting in documents, minor UI changes
  application/api/user/routes.py
  frontend/src/Navigation.tsx
  frontend/src/api/services/userService.ts
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/preferences/preferenceApi.ts
  frontend/src/settings/Documents.tsx
Labels: frontend, application

#1389 Added custom size and Default widget open in <DocsGPTWidget />
  extensions/react-widget/src/components/DocsGPTWidget.tsx
  extensions/react-widget/src/types/index.ts
Labels: extensions

#1414 React widget: Exacting the design
  extensions/react-widget/package-lock.json
  extensions/react-widget/src/components/DocsGPTWidget.tsx
Labels: extensions

#1407 fix milvus issues
  application/vectorstore/milvus.py
Labels: application

#1415 React Widget update - v0.4.4
  docs/package-lock.json
  docs/package.json
  extensions/react-widget/package-lock.json
  extensions/react-widget/package.json
Labels: docs, extensions

#1416 fix: pending sources even when no sources provided
  frontend/src/conversation/conversationSlice.ts
Labels: frontend

#1418 React Widget: udpated to v0.4.5
  docs/package-lock.json
  docs/package.json
  extensions/react-widget/package-lock.json
  extensions/react-widget/package.json
  extensions/react-widget/src/components/DocsGPTWidget.tsx
Labels: docs, extensions

#1423 (feat: widget): smooth transitions
  extensions/react-widget/src/components/DocsGPTWidget.tsx
  extensions/react-widget/src/types/index.ts
Labels: extensions

#1424 React Widget: published v0.4.6
  docs/package.json
  extensions/react-widget/package-lock.json
  extensions/react-widget/package.json
Labels: docs, extensions

#1425 feat: widget bounciness
  extensions/react-widget/src/components/DocsGPTWidget.tsx
Labels: extensions

#1426 React Widget v0.4.7
  docs/package-lock.json
  docs/package.json
  extensions/react-widget/package-lock.json
  extensions/react-widget/package.json
Labels: docs, extensions

#1437 refactor: smooth answer appearance
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/index.css
Labels: frontend

#1385 fix: #1219 Too big top margin of message box separator
  frontend/src/conversation/Conversation.tsx
Labels: frontend

#1439 refactor: loader-color
  frontend/src/upload/Upload.tsx
Labels: frontend

#1422 upload routes fix for multiple upload
  application/api/user/routes.py
Labels: application

#1443 fix: old streaming answer gets appended to new conversation
  frontend/src/Navigation.tsx
  frontend/src/conversation/conversationSlice.ts
Labels: frontend

#1434 feat: wrapper modal
  frontend/src/Navigation.tsx
  frontend/src/modals/ConfirmationModal.tsx
  frontend/src/modals/CreateAPIKeyModal.tsx
  frontend/src/modals/ShareConversationModal.tsx
  frontend/src/modals/WrapperModal.tsx
  frontend/src/modals/types/index.ts
  frontend/src/settings/Documents.tsx
  frontend/src/upload/Upload.tsx
Labels: frontend

#1436 React Widget: Search bar component
  application/api/user/routes.py
  application/core/settings.py
  application/parser/file/bulk.py
  application/parser/file/docs_parser.py
  application/parser/file/image_parser.py
  extensions/react-widget/package-lock.json
  extensions/react-widget/package.json
  extensions/react-widget/src/App.tsx
  extensions/react-widget/src/components/DocsGPTWidget.tsx
  extensions/react-widget/src/components/SearchBar.tsx
  extensions/react-widget/src/index.html
  extensions/react-widget/src/index.ts
  extensions/react-widget/src/main.tsx
  extensions/react-widget/src/requests/searchAPI.ts
  extensions/react-widget/src/types/index.ts
  extensions/react-widget/src/utils/helper.ts
  frontend/src/upload/Upload.tsx
Labels: frontend, application, extensions

#1450 React Widget: Updating to v0.4.8
  docs/package-lock.json
  docs/package.json
  docs/pages/Extensions/react-widget.md
  docs/pages/_app.mdx
  extensions/react-widget/README.md
  extensions/react-widget/package-lock.json
  extensions/react-widget/package.json
  extensions/react-widget/src/browser.tsx
  extensions/react-widget/src/components/SearchBar.tsx
  extensions/react-widget/src/index.ts
  extensions/react-widget/src/main.tsx
Labels: docs, extensions

#1444 Fixed edit and resend issue
  application/api/answer/routes.py
  frontend/src/api/endpoints.ts
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/conversationModels.ts
  frontend/src/conversation/conversationSlice.ts
Labels: frontend, application

#1442 Table Styling & Add search feature to backend
  application/api/user/routes.py
  application/celery_init.py
  frontend/src/components/DocumentPagination.tsx
  frontend/src/components/DropdownMenu.tsx
  frontend/src/index.css
  frontend/src/preferences/preferenceApi.ts
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/Documents.tsx
Labels: frontend, application

#1456 Minor UI adjustments
  application/api/user/routes.py
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/conversationSlice.ts
  frontend/src/settings/Documents.tsx
  frontend/src/utils/stringUtils.ts
Labels: frontend, application

#1461 (fix:edit-query)delete following queries
  application/api/answer/routes.py
  frontend/src/Navigation.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/conversationSlice.ts
  frontend/src/settings/Documents.tsx
Labels: frontend, application
