Repository arc53/DocsGPT, pull requests merged in 2024-01, with the labels that each got.

#813 fix: Making alt text less redundant
  frontend/src/Navigation.tsx
Labels: frontend

#816 adding responsive sidebar
  frontend/src/Navigation.tsx
Labels: frontend

#822 Mongodb integration as vectorstore
  application/vectorstore/document_class.py
  application/vectorstore/elasticsearch.py
  application/vectorstore/mongodb.py
  application/vectorstore/vector_creator.py
  tests/llm/test_openai.py
Labels: application, tests

#823 fix distortion on different browsers
  frontend/src/Hero.tsx
Labels: frontend

#825 Public LLM
  .env-template
  README.md
  application/Dockerfile
  application/core/settings.py
  application/index.faiss
  application/index.pkl
  application/llm/docsgpt_provider.py
  application/llm/llm_creator.py
  application/vectorstore/base.py
  docs/pages/Deploying/Quickstart.md
  frontend/src/Navigation.tsx
  setup.sh
  tests/test_vector_store.py
Labels: docs, repo, frontend, application, tests

#831 integrate /api/search endpoint, get sources post stream
  frontend/src/conversation/conversationApi.ts
  frontend/src/conversation/conversationSlice.ts
Labels: frontend

#830 Search docs not inside the /stream in the stream request
  application/api/answer/routes.py
  frontend/src/conversation/conversationApi.ts
  frontend/src/conversation/conversationSlice.ts
Labels: frontend, application

#832 Fixed Empty Document Name Upload
  frontend/src/upload/Upload.tsx
Labels: frontend

#837 Adding Dark Mode
  frontend/public/lock-dark.svg
  frontend/public/message-programming-dark.svg
  frontend/public/message-programming.svg
  frontend/public/message-text-dark.svg
  frontend/src/About.tsx
  frontend/src/App.tsx
  frontend/src/Hero.tsx
  frontend/src/Navigation.tsx
  frontend/src/Setting.tsx
  frontend/src/assets/discord-dark.svg
  frontend/src/assets/dislike.svg
  frontend/src/assets/documentation-dark.svg
  frontend/src/assets/documentation.svg
  frontend/src/assets/dropdown-arrow.svg
  frontend/src/assets/github-dark.svg
  frontend/src/assets/hamburger-dark.svg
  frontend/src/assets/info-dark.svg
  frontend/src/assets/like.svg
  frontend/src/assets/message-dark.svg
  frontend/src/assets/message.svg
  frontend/src/assets/send_dark.svg
  frontend/src/assets/settingGear-dark.svg
  frontend/src/assets/settingGear.svg
  frontend/src/assets/spinner.svg
  frontend/src/assets/upload.svg
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/ConversationTile.tsx
  frontend/src/upload/Upload.tsx
  frontend/tailwind.config.cjs
Labels: frontend

#841 Message bubble responsiveness
  frontend/src/assets/copy.svg
  frontend/src/assets/dislike.svg
  frontend/src/assets/like.svg
  frontend/src/conversation/ConversationBubble.tsx
Labels: bug, enhancement, frontend

#843 Fix application + script requirements.txt
  application/parser/file/bulk.py
  application/parser/open_ai_func.py
  application/requirements.txt
  application/vectorstore/base.py
  application/vectorstore/faiss.py
  scripts/code_docs_gen.py
  scripts/old/ingest_rst.py
  scripts/old/ingest_rst_sphinx.py
  scripts/parser/file/bulk.py
  scripts/parser/open_ai_func.py
  scripts/parser/py2doc.py
  scripts/requirements.txt
Labels: application, scripts
