Repository arc53/DocsGPT, pull requests merged in 2024-08, with the labels that each got.

#1048 Optimize Dockerfile to reduce image size and improve build efficiency
  application/Dockerfile
Labels: application

#1049 fix: changed query box from div to textarea
  application/api/user/routes.py
  frontend/src/conversation/Conversation.tsx
  frontend/src/index.css
Labels: frontend, application

#1060 fix: no safe-area for iOS browser, input not fixed
  frontend/src/Hero.tsx
  frontend/src/Navigation.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/hooks/useDefaultDocument.ts
  frontend/src/index.css
  frontend/src/preferences/SelectDocsModal.tsx
Labels: frontend

#1064 Upgrade unstructured
  application/parser/file/html_parser.py
  application/requirements.txt
Labels: application

#1075 feat: new ui for sources in conversation
  application/api/answer/routes.py
  frontend/src/assets/document.svg
  frontend/src/assets/sources.svg
  frontend/src/components/Sidebar.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/conversationSlice.ts
  frontend/src/index.css
  frontend/src/preferences/preferenceApi.ts
  frontend/src/preferences/preferenceSlice.ts
Labels: frontend, application

#1084 Extensions: Add size option to react-widget
  extensions/react-widget/package-lock.json
  extensions/react-widget/package.json
  extensions/react-widget/src/components/DocsGPTWidget.tsx
  extensions/react-widget/src/main.tsx
  extensions/react-widget/src/types/index.ts
Labels: extensions

#1085 fix: revert to remark-gfm 3.0.1
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#1086 fix: updated both remark-gfm and react-markdown to compatible versions
  frontend/package-lock.json
  frontend/package.json
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#1088 React Widget: Fix for Next.js
  extensions/react-widget/src/main.tsx
Labels: extensions

#1087 Fix streaming issue on new conversation ID
  frontend/src/conversation/Conversation.tsx
Labels: frontend

#1090 fix: minor ui bug
  frontend/src/settings/APIKeys.tsx
Labels: frontend

#1089 Upgrading options in React widget
  extensions/react-widget/package-lock.json
  extensions/react-widget/src/assets/message.svg
  extensions/react-widget/src/components/DocsGPTWidget.tsx
  extensions/react-widget/src/requests/streamingApi.ts
  extensions/react-widget/src/types/index.ts
Labels: extensions

#1092 React widget: Sync with the Stream endpoint, error handling
  extensions/react-widget/package.json
  extensions/react-widget/src/components/DocsGPTWidget.tsx
  extensions/react-widget/src/requests/streamingApi.ts
Labels: extensions

#1093 Widget Documentation update
  docs/pages/Extensions/react-widget.md
Labels: docs

#1094 Update docs: minor fixes, version update
  docs/package-lock.json
  docs/package.json
  docs/pages/Extensions/react-widget.md
  docs/pages/_app.mdx
  extensions/react-widget/README.md
Labels: docs, extensions

#1107 React-widget: Adding "large" option for widget size
  extensions/react-widget/package.json
  extensions/react-widget/publish.sh
  extensions/react-widget/src/components/DocsGPTWidget.tsx
  extensions/react-widget/src/types/index.ts
Labels: extensions

#1110 feat: logging
  application/api/answer/routes.py
  application/app.py
  application/celery_init.py
  application/core/logging_config.py
  application/parser/remote/crawler_loader.py
  application/parser/remote/sitemap_loader.py
  application/retriever/brave_search.py
  application/retriever/classic_rag.py
  application/retriever/duckduck_search.py
  application/usage.py
  application/utils.py
  application/worker.py
Labels: application

#1109 CSV upload
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Navigation.tsx
  frontend/src/components/Dropdown.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/locale/en.json
  frontend/src/modals/DeleteConvModal.tsx
  frontend/src/preferences/APIKeyModal.tsx
  frontend/src/upload/Upload.tsx
Labels: frontend
