Repository arc53/DocsGPT, pull requests merged in 2024-05, with the labels that each got.

#929 Issue button to clean chat history
  application/api/user/routes.py
  frontend/package.json
  frontend/src/Modal/index.tsx
  frontend/src/Navigation.tsx
  frontend/src/preferences/DeleteConvModal.tsx
  frontend/src/preferences/preferenceSlice.ts
  frontend/src/settings/General.tsx
  frontend/src/store.ts
Labels: frontend, application

#933 fix: remote upload error
  application/api/user/routes.py
  application/parser/open_ai_func.py
  application/parser/remote/web_loader.py
  application/worker.py
Labels: application

#941 fix(UI):conversation,settings
  frontend/src/App.tsx
  frontend/src/Modal/index.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/preferences/DeleteConvModal.tsx
  frontend/src/settings/Documents.tsx
  frontend/src/settings/General.tsx
Labels: frontend

#942 Fix: Abnormal overflow on mobile screens and arbitrary word breaks.
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#936 Update Dockerfile
  application/Dockerfile
Labels: application

#946 refactor: several small ui refactor for generalisation
  frontend/public/fonts/Inter-Variable.ttf
  frontend/src/Navigation.tsx
  frontend/src/components/Dropdown.tsx
  frontend/src/components/SourceDropdown.tsx
  frontend/src/conversation/ConversationTile.tsx
  frontend/src/index.css
  frontend/src/modals/ConfirmationModal.tsx
  frontend/src/modals/DeleteConvModal.tsx
  frontend/src/modals/index.tsx
  frontend/src/preferences/APIKeyModal.tsx
  frontend/src/preferences/PromptsModal.tsx
  frontend/src/preferences/SelectDocsModal.tsx
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/General.tsx
  frontend/src/settings/Prompts.tsx
  frontend/src/upload/Upload.tsx
Labels: frontend

#952 FIx: API Key Parsing
  application/api/answer/routes.py
Labels: bug, application

#953 FIX: Spinner
  frontend/src/assets/spinner-dark.svg
  frontend/src/assets/spinner.svg
  frontend/src/conversation/Conversation.tsx
Labels: frontend

#949 Updating Hero
  frontend/src/Hero.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/settings/Documents.tsx
Labels: frontend

#957 Update Sidebar
  frontend/src/Navigation.tsx
  frontend/src/assets/TwitterX.svg
Labels: frontend

#958 chore: Update Docker build platforms for application and frontend and…
  .github/workflows/ci.yml
  .github/workflows/cife.yml
  application/requirements.txt
  application/utils.py
  application/vectorstore/base.py
  application/worker.py
Labels: github, application

#955 Feat : add copy button on code snippet
  frontend/src/components/CopyButton.tsx
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#963 feat: k8s deployment
  docs/pages/Deploying/Kubernetes-Deploying.md
  docs/pages/Deploying/_meta.json
  k8s/deployments/docsgpt-deploy.yaml
  k8s/deployments/mongo-deploy.yaml
  k8s/deployments/qdrant-deploy.yaml
  k8s/deployments/redis-deploy.yaml
  k8s/docsgpt-secrets.yaml
  k8s/services/docsgpt-service.yaml
  k8s/services/mongo-service.yaml
  k8s/services/qdrant-service.yaml
  k8s/services/redis-service.yaml
Labels: docs

#964 Feature: Token count for vectors
  application/api/internal/routes.py
  application/api/user/routes.py
  application/parser/open_ai_func.py
  application/worker.py
  frontend/src/models/misc.ts
  frontend/src/settings/Documents.tsx
Labels: frontend, application

#965 feat: dropdown to adjust conversational history limits
  application/api/answer/routes.py
  application/core/settings.py
  application/retriever/brave_search.py
  application/retriever/classic_rag.py
  application/retriever/duckduck_search.py
  frontend/src/components/Dropdown.tsx
  frontend/src/conversation/conversationApi.ts
  frontend/src/conversation/conversationSlice.ts
  frontend/src/preferences/preferenceSlice.ts
  frontend/src/settings/General.tsx
  frontend/src/store.ts
Labels: frontend, application

#967 Fix empty response in the conversation
  frontend/src/conversation/conversationSlice.ts
Labels: frontend

#969 Internationalisation with i18next
  docs/package-lock.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Hero.tsx
  frontend/src/Navigation.tsx
  frontend/src/components/SourceDropdown.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/i18n.ts
  frontend/src/modals/ConfirmationModal.tsx
  frontend/src/modals/DeleteConvModal.tsx
  frontend/src/modals/index.tsx
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/Documents.tsx
  frontend/src/settings/General.tsx
  frontend/src/settings/Prompts.tsx
  frontend/src/settings/index.tsx
  frontend/src/upload/Upload.tsx
Labels: docs, frontend

#972 Fix: added translation for the conversation history dropdown
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/settings/General.tsx
Labels: frontend
