Repository arc53/DocsGPT, pull requests merged in 2024-10, with the labels that each got.

#1154 feature: OpenAPI specification compliant endpoints
  application/api/answer/routes.py
  application/api/user/routes.py
  application/app.py
  application/extensions.py
  application/requirements.txt
  application/utils.py
  frontend/src/components/Dropdown.tsx
  frontend/src/modals/CreateAPIKeyModal.tsx
  frontend/src/settings/Analytics.tsx
Labels: frontend, application

#1172 Fix: Auto select newly trained document
  frontend/src/upload/Upload.tsx
Labels: frontend

#1177 Master
  application/worker.py
Labels: application

#1190 feat: Add support for mathematical equations in Markdown
  frontend/package-lock.json
  frontend/package.json
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#1178 Feat(1169): Handle state of empty tables
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/zh.json
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/Documents.tsx
Labels: frontend

#1183 Refactor FaissStore to enhance error handling, add improve type hints, and document methods for better maintainability and usability
  application/vectorstore/faiss.py
Labels: application

#1198 Update migrate_to_v1_vectorstore.py
  scripts/migrate_to_v1_vectorstore.py
Labels: scripts

#1209 fix: navigation and deletion issues in conversations
  frontend/src/Navigation.tsx
Labels: frontend

#1203 Documentation error in "Hacktoberfest.md"
  HACKTOBERFEST.md
Labels: repo

#1236 Fix(1220): border styles
  frontend/src/Hero.tsx
  frontend/src/index.css
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/Documents.tsx
Labels: frontend

#1205 Github remote loader
  application/api/user/routes.py
  application/parser/remote/github_loader.py
  application/parser/remote/remote_creator.py
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/zh.json
  frontend/src/upload/Upload.tsx
Labels: frontend, application

#1238 Bug Fix: Crash, abnormal update while switching conversation Ids
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/conversationSlice.ts
Labels: help wanted, javascript, hacktoberfest, frontend

#1247 Feat(1228) mobile settings menu
  frontend/src/components/SettingsBar.tsx
  frontend/src/settings/index.tsx
Labels: frontend

#1243 Removed @vercel/analytics from frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
Labels: frontend

#1184 new: added ExcelParser(tested) to read .xlsx files
  application/parser/file/bulk.py
  application/parser/file/tabular_parser.py
  application/requirements.txt
  application/vectorstore/faiss.py
  frontend/src/locale/en.json
  frontend/src/upload/Upload.tsx
Labels: frontend, application

#1242 Make logo clickable
  frontend/src/Navigation.tsx
Labels: frontend

#1246 Groq llms added
  application/api/answer/routes.py
  application/llm/groq.py
  application/llm/llm_creator.py
Labels: application

#1248 Fix: Minimise sidebar on nav item click on Mobile
  frontend/src/Navigation.tsx
  frontend/src/components/SourceDropdown.tsx
  frontend/src/conversation/ConversationTile.tsx
Labels: frontend

#1264 Fix: Menu position on conversation list scroll
  frontend/src/conversation/ConversationTile.tsx
Labels: frontend

#1277 fix: file check
  application/worker.py
Labels: application

#1263 Remove Icon Next to Question Bubble and Label Change
  frontend/src/conversation/ConversationTile.tsx
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/zh.json
Labels: frontend

#1279 Fix: Prevent flash on dark theme
  frontend/src/App.tsx
  frontend/src/hooks/index.ts
Labels: frontend

#1280 Fix some typos
  HACKTOBERFEST.md
  docs/pages/Guides/How-to-train-on-other-documentation.mdx
  docs/pages/Guides/How-to-use-different-LLM.mdx
Labels: docs, repo

#1042 Add Traditional Chinese(zhTW) locale
  frontend/src/locale/i18n.ts
  frontend/src/locale/zh-TW.json
Labels: hacktoberfest, frontend

#1281 Update lexeu-competition.md
  lexeu-competition.md
Labels: repo

#1249 Update localhost port to 3000 in readme
  docs/README.md
Labels: docs

#1235 Fix formatting of mobile retry button
  frontend/src/components/RetryIcon.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#1274 fix upload
  frontend/src/Navigation.tsx
  frontend/src/assets/file_upload.svg
  frontend/src/assets/website_collect.svg
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/zh.json
  frontend/src/upload/Upload.tsx
Labels: frontend

#1288 🚀 Feature: Tabs in settings redesign
  frontend/src/components/SettingsBar.tsx
Labels: frontend

#1316 DocsGPT DEMO UPDATED
  README.md
Labels: repo

#1213 Replacing About with a Help dropdown that has contact and documentati…
  frontend/signal-desktop-keyring.gpg
  frontend/src/App.tsx
  frontend/src/Navigation.tsx
  frontend/src/assets/documentation-dark.svg
  frontend/src/assets/documentation.svg
  frontend/src/assets/envelope-dark.svg
  frontend/src/assets/envelope.svg
  frontend/src/components/Help.tsx
  frontend/src/components/SourceDropdown.tsx
  frontend/src/locale/i18n.ts
Labels: frontend

#1326 Minor UI adjustments in Navigation > Help
  frontend/src/Navigation.tsx
  frontend/src/components/Help.tsx
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
Labels: frontend

#1308 Caching docsgpt
  application/api/answer/routes.py
  application/cache.py
  application/core/settings.py
  application/llm/base.py
  application/utils.py
  docker-compose.yaml
  frontend/package-lock.json
  tests/llm/test_anthropic.py
  tests/llm/test_sagemaker.py
  tests/test_cache.py
Labels: repo, frontend, application, tests

#1314 Fix: Pass retriever name to streaming api
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/conversationModels.ts
Labels: frontend

#1319 Upgrade duck duck go dependency constraints
  application/requirements.txt
Labels: application

#1306 Solved / #1294
  frontend/src/Navigation.tsx
  frontend/src/conversation/ConversationTile.tsx
Labels: frontend

#1188 Reusable Attractive Skeleton Loader Component is added [Fixes #1181]
  frontend/package-lock.json
  frontend/src/components/SkeletonLoader.tsx
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/Analytics.tsx
  frontend/src/settings/Documents.tsx
  frontend/src/settings/Logs.tsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend

#1297 fix: height for md-devices
  frontend/src/App.tsx
Labels: frontend

#1321 refactor(user/routes): simplify parsing of isPromptable
  application/api/user/routes.py
Labels: hacktoberfest, application

#1233 fix: share button available in mobile view
  frontend/src/Navigation.tsx
  frontend/src/components/ShareButton.tsx
  frontend/src/conversation/Conversation.tsx
Labels: frontend

#1122 Feature n/lancedb
  application/core/settings.py
  application/vectorstore/lancedb.py
Labels: application

#1339 fix: help button margin
  frontend/src/components/Help.tsx
Labels: frontend

#1345 Bug fix: /api/share route
  application/api/user/routes.py
Labels: application

#1355 Bug Fix: react web widget prints undefined before printing an answer.
  extensions/react-widget/src/components/DocsGPTWidget.tsx
Labels: extensions

#1354 Fix/api key list state
  frontend/src/settings/APIKeys.tsx
Labels: frontend

#1330 Fixes - 1292
  frontend/src/Navigation.tsx
  frontend/src/assets/openNewChat.svg
  frontend/src/conversation/Conversation.tsx
Labels: frontend

#1356 Update Extensions
  docs/package-lock.json
  docs/package.json
  extensions/react-widget/package.json
  frontend/src/components/Help.tsx
Labels: docs, frontend, extensions

#1346 Add slack integration
  extensions/slack-bot/.gitignore
  extensions/slack-bot/Readme.md
  extensions/slack-bot/app.py
  extensions/slack-bot/requirements.txt
Labels: extensions

#1333 Configure Dependabot for GitHub Actions
  .github/dependabot.yml
Labels: github

#1372 Fix Discord icon
  frontend/src/assets/discord.svg
Labels: frontend

#1363 Fix like hovering state in dark mode
  frontend/src/Navigation.tsx
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#1300 Feature: Table redesign
  frontend/src/assets/caret-sort.svg
  frontend/src/index.css
  frontend/src/settings/Documents.tsx
Labels: frontend

#1337 fix:GitHubLoader to Handle Binary Files
  application/parser/remote/github_loader.py
Labels: application

#1377 feat: JSON Parser Implementation
  application/api/user/routes.py
  application/parser/file/bulk.py
  application/parser/file/json_parser.py
  frontend/src/index.css
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
  frontend/src/upload/Upload.tsx
Labels: frontend, application

#1397 Add endpoint for Text-To-Speech conversion
  application/api/user/routes.py
  application/requirements.txt
  application/tts/base.py
  application/tts/google_tts.py
Labels: application

#1384 Fix: empty doc selection in /stream
  application/api/answer/routes.py
Labels: application

#1343 Enhancement: Added loading state for conversation list
  frontend/src/Navigation.tsx
  frontend/src/preferences/preferenceApi.ts
  frontend/src/preferences/preferenceSlice.ts
  frontend/src/store.ts
Labels: frontend

#1401 fix: discord bot
  extensions/discord/bot.py
Labels: extensions

#1403 fix: bot chunking
  extensions/discord/bot.py
Labels: extensions

#1386 Update run-with-docker-compose.sh
  run-with-docker-compose.sh
Labels: repo

#1335 refactor: use MongoDB singleton for connection management
  application/api/answer/routes.py
  application/api/internal/routes.py
  application/api/user/routes.py
  application/core/mongo_db.py
  application/usage.py
  application/worker.py
  frontend/src/locale/en.json
  frontend/src/locale/es.json
Labels: frontend, application

#1362 feat: add edit buttons
  docs/theme.config.jsx
Labels: docs

#1382 Fix: Fonts on Safari browser
  frontend/src/index.css
Labels: frontend

#1405 feat: `.pptx` Presentation parser implementation
  application/api/user/routes.py
  application/parser/file/bulk.py
  application/parser/file/pptx_parser.py
  application/requirements.txt
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
  frontend/src/upload/Upload.tsx
Labels: frontend, application
