Repository arc53/DocsGPT, pull requests merged in 2024-06, with the labels that each got.

#977 DocsGPT link update
  docs/pages/index.mdx
Labels: docs

#974 fix/pr-960
  extensions/react-widget/README.md
  extensions/react-widget/package-lock.json
  extensions/react-widget/package.json
  extensions/react-widget/src/components/DocsGPTWidget.tsx
  extensions/react-widget/src/index.html
  extensions/react-widget/src/main.tsx
Labels: extensions

#987 my-japanese-translation
  frontend/src/locale/en.json
  frontend/src/locale/i18n.ts
  frontend/src/locale/jp.json
  frontend/src/settings/General.tsx
Labels: frontend

#989 Updated nextra docs with new html code block installation instruction
  docs/pages/Extensions/react-widget.md
Labels: docs

#990 Denominations on tokens
  frontend/src/settings/Documents.tsx
Labels: frontend

#993 fix: input field covered by url bar in safari
  frontend/index.html
  frontend/src/Hero.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/index.css
Labels: frontend

#991 Adding in Mandarin translation into DocsGPT
  frontend/src/locale/i18n.ts
  frontend/src/locale/zh.json
  frontend/src/settings/General.tsx
Labels: frontend

#988 Fix/retry-btn
  frontend/src/Hero.tsx
  frontend/src/components/RetryIcon.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/conversationApi.ts
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
Labels: frontend

#994 rename celery.py
  application/api/user/routes.py
  application/api/user/tasks.py
  application/app.py
  application/celery_init.py
  tests/test_celery.py
Labels: application, tests

#1000 upgrade docker to 24.04
  application/Dockerfile
Labels: application

#1001 Fix: Set Uploaded/Trained/Latest Source Doc as Selected/Active Source Doc
  frontend/src/Navigation.tsx
  frontend/src/components/SourceDropdown.tsx
  frontend/src/locale/zh.json
  frontend/src/upload/Upload.tsx
Labels: frontend

#1002 Better Error handling on /stream endpoint
  application/api/answer/routes.py
  application/api/user/routes.py
  frontend/src/conversation/conversationSlice.ts
Labels: frontend, application

#1005 fix: modals close on clicking outside
  frontend/src/components/Dropdown.tsx
  frontend/src/components/SourceDropdown.tsx
  frontend/src/conversation/Conversation.tsx
Labels: frontend

#1008 Fix/issue#998
  frontend/src/settings/General.tsx
  frontend/src/settings/index.tsx
Labels: frontend

#1012 fix: input box improvements
  frontend/src/conversation/Conversation.tsx
  frontend/src/index.css
Labels: frontend

#1004 Fix/training progress
  frontend/src/upload/Upload.tsx
Labels: frontend

#1013 fix: use singleton in llama_cpp
  application/llm/llama_cpp.py
Labels: application
