Repository arc53/DocsGPT, pull requests merged in 2024-12, with the labels that each got.

#1463 feature: Drag and drop training, from input box
  frontend/src/Navigation.tsx
  frontend/src/api/endpoints.ts
  frontend/src/assets/DragFileUpload.svg
  frontend/src/conversation/Conversation.tsx
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
  frontend/src/settings/Documents.tsx
  frontend/src/upload/Upload.tsx
Labels: frontend

#1470 Minor frontend changes
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/user.png
  frontend/src/components/Avatar.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/SharedConversation.tsx
Labels: frontend

#1475 Highlight Similar substrings in search results
  extensions/react-widget/src/components/SearchBar.tsx
  extensions/react-widget/src/utils/helper.ts
  extensions/react-widget/tsconfig.json
Labels: extensions

#1483 Fixes: Client.__init__() got an unexpected keyword argument 'proxies'
  application/requirements.txt
Labels: application

#1486 Fix language support for Chinese and add Russian language
  frontend/src/locale/i18n.ts
  frontend/src/locale/ru.json
  frontend/src/settings/General.tsx
Labels: frontend

#1500 Limiting Conversational history
  application/api/answer/routes.py
  application/core/settings.py
  application/retriever/brave_search.py
  application/retriever/classic_rag.py
  application/retriever/duckduck_search.py
  application/utils.py
  frontend/package-lock.json
Labels: frontend, application

#1455 Fixed the feedback issue
  application/api/user/routes.py
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/conversationModels.ts
Labels: frontend, application

#1502 feat: tools frontend and endpoints refactor
  .vscode/launch.json
  application/api/answer/routes.py
  application/api/user/routes.py
  application/cache.py
  application/llm/groq.py
  application/retriever/classic_rag.py
  application/tools/agent.py
  application/tools/base.py
  application/tools/implementations/cryptoprice.py
  application/tools/implementations/telegram.py
  application/tools/tool_manager.py
  frontend/public/toolIcons/tool_cryptoprice.svg
  frontend/public/toolIcons/tool_telegram.svg
  frontend/src/api/endpoints.ts
  frontend/src/api/services/userService.ts
  frontend/src/assets/cogwheel.svg
  frontend/src/components/SettingsBar.tsx
  frontend/src/index.css
  frontend/src/locale/en.json
  frontend/src/modals/AddToolModal.tsx
  frontend/src/modals/ConfigToolModal.tsx
  frontend/src/modals/types/index.ts
  frontend/src/settings/Documents.tsx
  frontend/src/settings/ToolConfig.tsx
  frontend/src/settings/Tools.tsx
  frontend/src/settings/index.tsx
  frontend/src/settings/types/index.ts
Labels: frontend, application

#1473 Tools + agent
  .vscode/launch.json
  application/api/answer/routes.py
  application/api/user/routes.py
  application/cache.py
  application/llm/anthropic.py
  application/llm/base.py
  application/llm/groq.py
  application/llm/openai.py
  application/llm/sagemaker.py
  application/requirements.txt
  application/retriever/classic_rag.py
  application/tools/agent.py
  application/tools/base.py
  application/tools/implementations/cryptoprice.py
  application/tools/implementations/telegram.py
  application/tools/tool_manager.py
  application/usage.py
  application/utils.py
  frontend/public/toolIcons/tool_cryptoprice.svg
  frontend/public/toolIcons/tool_telegram.svg
  frontend/src/api/endpoints.ts
  frontend/src/api/services/userService.ts
  frontend/src/assets/cogwheel.svg
  frontend/src/components/SettingsBar.tsx
  frontend/src/index.css
  frontend/src/locale/en.json
  frontend/src/modals/AddToolModal.tsx
  frontend/src/modals/ConfigToolModal.tsx
  frontend/src/modals/types/index.ts
  frontend/src/settings/Documents.tsx
  frontend/src/settings/ToolConfig.tsx
  frontend/src/settings/Tools.tsx
  frontend/src/settings/index.tsx
  frontend/src/settings/types/index.ts
  tests/llm/test_anthropic.py
  tests/llm/test_sagemaker.py
  tests/test_cache.py
Labels: frontend, application, tests
