Repository arc53/DocsGPT, pull requests merged in 2025-10, with the labels that each got.

#1996 Pr/1988
  .vscode/launch.json
  .vscode/tasks.json
  application/api/user/routes.py
Labels: application

#2000 Test coverage: TTS, Security and Storage layers
  application/core/settings.py
  application/tts/elevenlabs.py
  tests/security/test_encryption.py
  tests/storage/test_local_storage.py
  tests/storage/test_s3_storage.py
  tests/tts/test_elevenlabs_tts.py
  tests/tts/test_google_tts.py
Labels: hacktoberfest, application, tests

#2002 Frontend Lint
  frontend/src/App.tsx
  frontend/src/PageNotFound.tsx
  frontend/src/components/ActionButtons.tsx
  frontend/src/components/Chunks.tsx
  frontend/src/components/ConnectorAuth.tsx
  frontend/src/components/ConnectorTreeComponent.tsx
  frontend/src/components/DocumentPagination.tsx
  frontend/src/components/DropdownMenu.tsx
  frontend/src/components/FilePicker.tsx
  frontend/src/components/FileTreeComponent.tsx
  frontend/src/components/FileUpload.tsx
  frontend/src/components/GoogleDrivePicker.tsx
  frontend/src/components/Input.tsx
  frontend/src/components/ShareButton.tsx
  frontend/src/components/SkeletonLoader.tsx
  frontend/src/components/Table.tsx
  frontend/src/components/TextToSpeechButton.tsx
  frontend/src/conversation/ConversationMessages.tsx
  frontend/src/modals/AddActionModal.tsx
  frontend/src/modals/AgentDetailsModal.tsx
  frontend/src/modals/ConfigToolModal.tsx
  frontend/src/modals/CreateAPIKeyModal.tsx
  frontend/src/modals/JWTModal.tsx
  frontend/src/modals/SaveAPIKeyModal.tsx
  frontend/src/modals/WrapperModal.tsx
  frontend/src/settings/Analytics.tsx
  frontend/src/settings/Tools.tsx
  frontend/src/settings/Widgets.tsx
  frontend/src/settings/index.tsx
  frontend/src/upload/Upload.tsx
  frontend/src/upload/types/ingestor.ts
Labels: frontend

#1999 Feat: UI enhancements
  frontend/src/App.tsx
  frontend/src/Navigation.tsx
  frontend/src/agents/AgentLogs.tsx
  frontend/src/agents/NewAgent.tsx
  frontend/src/agents/index.tsx
  frontend/src/components/CopyButton.tsx
Labels: hacktoberfest-accepted, frontend

#2035 correct path for storing embeddings model
  docs/pages/Deploying/Development-Environment.mdx
Labels: docs

#2044 bug fix: spinner to match theme (dark/light) in navigation
  frontend/src/Navigation.tsx
Labels: frontend

#2040 fix(ui): centered title due to improper obj check
  frontend/src/agents/SharedAgentCard.tsx
Labels: frontend
