Repository arc53/DocsGPT, pull requests merged in 2025-05, with the labels that each got.

#1762 Update README.md
  README.md
Labels: repo

#1764 fix: enhance error logging with exception info across multiple modules
  application/agents/llm_handler.py
  application/api/answer/routes.py
  application/api/user/routes.py
  application/cache.py
  application/llm/google_ai.py
  application/llm/openai.py
  application/logging.py
  application/parser/embedding_pipeline.py
  application/parser/remote/crawler_loader.py
  application/parser/remote/sitemap_loader.py
  application/parser/remote/web_loader.py
  application/retriever/classic_rag.py
  application/vectorstore/mongodb.py
  application/worker.py
Labels: application

#1767 fix: sources icon mini fix
  frontend/src/agents/NewAgent.tsx
Labels: frontend

#1732 feat[mermaid]:integration of mermaid
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MermaidRenderer.tsx
  frontend/src/components/types/index.ts
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/ConversationMessages.tsx
Labels: frontend

#1768 Attachments : File storage changes
  application/api/user/routes.py
  application/worker.py
  frontend/src/About.tsx
  frontend/src/Hero.tsx
  frontend/src/PageNotFound.tsx
  frontend/src/agents/NewAgent.tsx
  frontend/src/agents/index.tsx
  frontend/src/components/Accordion.tsx
  frontend/src/components/DocumentPagination.tsx
  frontend/src/components/DropdownMenu.tsx
  frontend/src/components/Help.tsx
  frontend/src/components/MermaidRenderer.tsx
  frontend/src/components/ShareButton.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/SkeletonLoader.tsx
  frontend/src/components/SourcesPopup.tsx
  frontend/src/components/ToggleSwitch.tsx
  frontend/src/components/ToolsPopup.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/ConversationMessages.tsx
  frontend/src/conversation/ConversationTile.tsx
  frontend/src/conversation/SharedConversation.tsx
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/conversationModels.ts
  frontend/src/index.css
  frontend/src/modals/AddActionModal.tsx
  frontend/src/modals/AddToolModal.tsx
  frontend/src/modals/ChunkModal.tsx
  frontend/src/modals/ConfigToolModal.tsx
  frontend/src/modals/CreateAPIKeyModal.tsx
  frontend/src/modals/JWTModal.tsx
  frontend/src/modals/ShareConversationModal.tsx
  frontend/src/modals/WrapperModal.tsx
  frontend/src/preferences/PromptsModal.tsx
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/Analytics.tsx
  frontend/src/settings/Documents.tsx
  frontend/src/settings/General.tsx
  frontend/src/settings/Prompts.tsx
  frontend/src/settings/ToolConfig.tsx
  frontend/src/settings/Tools.tsx
  frontend/src/upload/Upload.tsx
Labels: frontend, application

#1772 Bug Fixes
  application/parser/file/bulk.py
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend, application

#1773 fix:(style) update layout for agent list and card components
  frontend/src/agents/index.tsx
Labels: frontend

#1774 fix: truncate tool call results to 50 characters for cleaner output
  application/agents/classic_agent.py
  application/agents/react_agent.py
Labels: application

#1775 feat: share and pin agents
  .gitignore
  application/api/answer/routes.py
  application/api/user/routes.py
  frontend/.env.development
  frontend/package-lock.json
  frontend/src/Navigation.tsx
  frontend/src/agents/AgentCard.tsx
  frontend/src/agents/AgentLogs.tsx
  frontend/src/agents/SharedAgent.tsx
  frontend/src/agents/index.tsx
  frontend/src/agents/types/index.ts
  frontend/src/api/client.ts
  frontend/src/api/endpoints.ts
  frontend/src/api/services/userService.ts
  frontend/src/assets/link-gray.svg
  frontend/src/assets/pin.svg
  frontend/src/assets/unpin.svg
  frontend/src/components/ContextMenu.tsx
  frontend/src/conversation/ConversationMessages.tsx
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/conversationSlice.ts
  frontend/src/modals/AgentDetailsModal.tsx
Labels: repo, frontend, application

#1787 refactor: handle empty sources and chunks in agent
  application/api/user/routes.py
  frontend/src/agents/NewAgent.tsx
Labels: frontend, application

#1792 feat: add ReadWebpageTool for fetching and converting webpage content…
  application/agents/tools/read_webpage.py
  application/api/answer/routes.py
  application/prompts/chat_combine_default.txt
  frontend/public/toolIcons/tool_read_webpage.svg
Labels: frontend, application

#1793 refactor: enhance AI assistant prompts for clarity and creativity
  application/prompts/chat_combine_creative.txt
  application/prompts/chat_combine_default.txt
  application/prompts/chat_combine_strict.txt
Labels: application

#1791 fix for OPENAI_BASE_URL + ollama can't connect to container
  application/llm/openai.py
  setup.sh
Labels: repo, application

#1794 remove duplicate chat widget page
  docs/pages/Extensions/chat-widget copy.md
Labels: docs

#1801 feat: enhance agent sharing functionality and UI improvements
  application/api/answer/routes.py
  application/api/user/routes.py
  frontend/src/Navigation.tsx
  frontend/src/agents/SharedAgent.tsx
  frontend/src/agents/index.tsx
  frontend/src/api/endpoints.ts
  frontend/src/api/services/userService.ts
  frontend/src/assets/link-gray.svg
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/preferences/preferenceSlice.ts
  frontend/src/store.ts
Labels: frontend, application

#1808 Glassmorphic effect on search widget
  extensions/react-widget/src/components/SearchBar.tsx
Labels: extensions

#1806 Documentation agents
  docs/components/ToolCards.jsx
  docs/pages/Agents/_meta.json
  docs/pages/Agents/basics.mdx
  docs/pages/Deploying/DocsGPT-Settings.mdx
  docs/pages/Tools/_meta.json
  docs/pages/Tools/api-tool.mdx
  docs/pages/Tools/basics.mdx
  docs/pages/Tools/creating-a-tool.mdx
  docs/pages/_meta.json
  docs/public/jwt-input.png
  docs/public/new-agent.png
  docs/public/toolIcons/api-tool-example.png
  docs/public/toolIcons/tool_api_tool.svg
  docs/public/toolIcons/tool_brave.svg
  docs/public/toolIcons/tool_cryptoprice.svg
  docs/public/toolIcons/tool_ntfy.svg
  docs/public/toolIcons/tool_postgres.svg
  docs/public/toolIcons/tool_read_webpage.svg
  docs/public/toolIcons/tool_telegram.svg
Labels: docs

#1809 (release-widget)0.5.1
  docs/package-lock.json
  docs/package.json
  extensions/react-widget/package-lock.json
  extensions/react-widget/package.json
Labels: docs, extensions

#1810 (fix:layout) even action buttons
  frontend/src/components/ActionButtons.tsx
Labels: frontend

#1813 React improve
  application/agents/react_agent.py
  application/prompts/react_planning_prompt.txt
Labels: application

#1812 Tools redesign
  application/api/user/routes.py
  frontend/src/components/Input.tsx
  frontend/src/components/ToolsPopup.tsx
  frontend/src/index.css
  frontend/src/locale/en.json
  frontend/src/modals/AddActionModal.tsx
  frontend/src/modals/ConfigToolModal.tsx
  frontend/src/modals/ConfirmationModal.tsx
  frontend/src/settings/ToolConfig.tsx
  frontend/src/settings/Tools.tsx
  frontend/src/settings/types/index.ts
  frontend/src/utils/objectUtils.ts
Labels: frontend, application

#1820 Chore: Frontend Refinements
  frontend/src/components/ContextMenu.tsx
  frontend/src/components/Input.tsx
  frontend/src/hooks/index.ts
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/ru.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
  frontend/src/settings/Documents.tsx
  frontend/src/settings/ToolConfig.tsx
  frontend/src/settings/Tools.tsx
Labels: frontend
