Repository arc53/DocsGPT, pull requests merged in 2025-06, with the labels that each got.

#1814 fix: shared agent redirect and pinned agents error
  application/api/user/routes.py
  application/requirements.txt
  application/retriever/retriever_creator.py
  application/vectorstore/faiss.py
  frontend/src/App.tsx
  frontend/src/agents/SharedAgent.tsx
  frontend/src/agents/SharedAgentCard.tsx
  frontend/src/agents/SharedAgentGate.tsx
  frontend/src/agents/index.tsx
  frontend/src/agents/types/index.ts
  frontend/src/api/endpoints.ts
  frontend/src/api/services/userService.ts
  frontend/src/conversation/Conversation.tsx
Labels: frontend, application

#1830 UI update: attachments in question bubble
  application/api/answer/routes.py
  application/api/user/routes.py
  application/worker.py
  frontend/src/assets/alert.svg
  frontend/src/components/MessageInput.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/ConversationMessages.tsx
  frontend/src/conversation/SharedConversation.tsx
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/conversationModels.ts
  frontend/src/conversation/conversationSlice.ts
  frontend/src/conversation/sharedConversationSlice.ts
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/ru.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
  frontend/src/preferences/PromptsModal.tsx
  frontend/src/settings/Prompts.tsx
  frontend/src/store.ts
  frontend/src/upload/uploadSlice.ts
Labels: frontend, application

#1824 feat: reorganize LLM handler structure with better abstraction
  application/agents/base.py
  application/agents/classic_agent.py
  application/agents/llm_handler.py
  application/agents/tools/tool_action_parser.py
  application/api/answer/routes.py
  application/core/settings.py
  application/llm/base.py
  application/llm/handlers/__init__.py
  application/llm/handlers/base.py
  application/llm/handlers/google.py
  application/llm/handlers/handler_creator.py
  application/llm/handlers/openai.py
  application/llm/llama_cpp.py
  application/retriever/brave_search.py
  application/retriever/classic_rag.py
  application/retriever/duckduck_search.py
  application/utils.py
  application/worker.py
  deployment/docker-compose-dev.yaml
  deployment/docker-compose.yaml
  deployment/k8s/docsgpt-secrets.yaml
  docs/pages/Deploying/Docker-Deploying.mdx
  docs/pages/Deploying/DocsGPT-Settings.mdx
  docs/pages/Guides/How-to-use-different-LLM.mdx
  docs/pages/Models/cloud-providers.mdx
  docs/pages/Models/embeddings.md
  docs/pages/Models/local-inference.mdx
  frontend/src/Navigation.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/ConversationMessages.tsx
  frontend/src/conversation/conversationSlice.ts
  frontend/src/conversation/types/index.ts
  setup.sh
Labels: docs, repo, frontend, application

#1844 Collapsible Question bubbles
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#1849 feat: enhance agent management with image upload and retrieval
  application/api/user/routes.py
  application/core/settings.py
  application/storage/s3.py
  application/utils.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Navigation.tsx
  frontend/src/agents/AgentCard.tsx
  frontend/src/agents/NewAgent.tsx
  frontend/src/agents/SharedAgent.tsx
  frontend/src/agents/SharedAgentCard.tsx
  frontend/src/agents/index.tsx
  frontend/src/api/client.ts
  frontend/src/api/services/userService.ts
  frontend/src/assets/cross.svg
  frontend/src/assets/images.svg
  frontend/src/assets/robot.svg
  frontend/src/components/FileUpload.tsx
Labels: frontend, application

#1855 refactor: ddg and brave tools with sources fix
  application/agents/classic_agent.py
  application/agents/tools/brave.py
  application/agents/tools/duckduckgo.py
  application/api/user/routes.py
  application/core/settings.py
  application/retriever/brave_search.py
  application/retriever/duckduck_search.py
  application/retriever/retriever_creator.py
  frontend/public/toolIcons/tool_duckduckgo.svg
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/conversationSlice.ts
  frontend/src/modals/ChunkModal.tsx
  frontend/src/modals/ConfirmationModal.tsx
  frontend/src/modals/WrapperModal.tsx
  frontend/src/settings/Documents.tsx
Labels: frontend, application
