Repository arc53/DocsGPT, pull requests merged in 2025-02, with the labels that each got.

#1610 Refactor: Ingestor types for remote resources in Upload Component
  frontend/src/components/Input.tsx
  frontend/src/components/ToggleSwitch.tsx
  frontend/src/components/types/index.ts
  frontend/src/upload/Upload.tsx
  frontend/src/upload/types/ingestor.ts
Labels: frontend

#1586 websocket implementation of elevenlabs
  application/requirements.txt
  application/tts/elevenlabs.py
Labels: application

#1614 footer text with links
  docs/theme.config.jsx
Labels: docs

#1615 Arm builds
  .github/workflows/ci.yml
  .github/workflows/cife.yml
  .github/workflows/docker-develop-build.yml
  .github/workflows/docker-develop-fe-build.yml
Labels: github

#1603 Fixing issues #1445
  application/Dockerfile
  application/vectorstore/base.py
Labels: application

#1593 style: use underscore for an unused loop variable
  setup.sh
Labels: repo

#1624 feat: view chunks for docs and add/delete them
  application/api/user/routes.py
  application/vectorstore/faiss.py
  application/vectorstore/mongodb.py
  frontend/src/api/endpoints.ts
  frontend/src/api/services/userService.ts
  frontend/src/components/Spinner.tsx
  frontend/src/modals/AddActionModal.tsx
  frontend/src/modals/ChunkModal.tsx
  frontend/src/settings/Documents.tsx
  frontend/src/settings/ToolConfig.tsx
  frontend/src/settings/Tools.tsx
  frontend/src/settings/types/index.ts
Labels: frontend, application

#1621 Refactor Upload
  application/api/user/routes.py
  frontend/package-lock.json
  frontend/src/components/Input.tsx
  frontend/src/components/types/index.ts
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/ru.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
  frontend/src/upload/Upload.tsx
  frontend/src/upload/types/ingestor.ts
Labels: frontend, application

#1625 Handle bad tool names
  application/api/user/routes.py
  application/tools/agent.py
  application/utils.py
  frontend/src/modals/AddActionModal.tsx
  frontend/src/modals/AddToolModal.tsx
  frontend/src/modals/ChunkModal.tsx
  frontend/src/settings/Tools.tsx
Labels: frontend, application

#1630 feat: tool calls tracking
  application/api/answer/routes.py
  application/core/settings.py
  application/llm/openai.py
  application/retriever/classic_rag.py
  application/tools/agent.py
  application/tools/llm_handler.py
  application/utils.py
  frontend/src/assets/chevron-down.svg
  frontend/src/components/Accordion.tsx
  frontend/src/components/CopyButton.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/SharedConversation.tsx
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/conversationModels.ts
  frontend/src/conversation/conversationSlice.ts
  frontend/src/conversation/sharedConversationSlice.ts
  frontend/src/conversation/types/index.ts
Labels: frontend, application

#1628 Smoother transition in settings
  frontend/.eslintrc.cjs
  frontend/src/components/SkeletonLoader.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/hooks/index.ts
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/Analytics.tsx
  frontend/src/settings/Documents.tsx
  frontend/src/settings/Logs.tsx
  frontend/src/upload/Upload.tsx
Labels: frontend

#1514 Improved edit message interface
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#1317 Feat/sources in react widget
  extensions/react-widget/package.json
  extensions/react-widget/src/components/QuerySources.tsx
  extensions/react-widget/src/main.tsx
  extensions/react-widget/src/requests/streamingApi.ts
  extensions/react-widget/src/types/index.ts
Labels: extensions

#1637 Feat/sources in widget
  extensions/react-widget/package-lock.json
  extensions/react-widget/package.json
  extensions/react-widget/src/components/DocsGPTWidget.tsx
  extensions/react-widget/src/main.tsx
  extensions/react-widget/src/requests/streamingApi.ts
  extensions/react-widget/src/types/index.ts
Labels: extensions

#1640 (feat:widget) udpate docs
  docs/pages/Extensions/chat-widget.mdx
  docs/pages/_app.mdx
Labels: docs

#1641 Refactor: Apply base modal for UI consitency
  frontend/src/Hero.tsx
  frontend/src/components/Dropdown.tsx
  frontend/src/components/Input.tsx
  frontend/src/components/SourceDropdown.tsx
  frontend/src/modals/AddActionModal.tsx
  frontend/src/modals/AddToolModal.tsx
  frontend/src/modals/ConfigToolModal.tsx
  frontend/src/modals/CreateAPIKeyModal.tsx
  frontend/src/modals/SaveAPIKeyModal.tsx
  frontend/src/modals/WrapperModal.tsx
  frontend/src/modals/index.tsx
  frontend/src/preferences/APIKeyModal.tsx
  frontend/src/preferences/PromptsModal.tsx
  frontend/src/settings/Analytics.tsx
  frontend/src/settings/Prompts.tsx
  frontend/src/upload/Upload.tsx
Labels: frontend

#1642 fix: minor bugs and enhancement
  application/llm/openai.py
  frontend/src/components/SkeletonLoader.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/modals/AddActionModal.tsx
  frontend/src/modals/AddToolModal.tsx
  frontend/src/settings/Documents.tsx
  frontend/src/settings/General.tsx
  frontend/src/settings/Logs.tsx
  frontend/src/settings/Tools.tsx
Labels: frontend, application

#1645 Settings: Improving table layout
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/ru.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
  frontend/src/modals/ConfirmationModal.tsx
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/Documents.tsx
Labels: frontend

#1653 docs: Ensure --env-file .env is included for environment variable loa…
  docs/pages/Deploying/Docker-Deploying.mdx
Labels: docs

#1647 Analytics and feedback
  application/api/answer/routes.py
  application/api/user/routes.py
  extensions/react-widget/src/components/DocsGPTWidget.tsx
  extensions/react-widget/src/requests/streamingApi.ts
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/sharedConversationSlice.ts
Labels: frontend, application, extensions

#1658 Widget upgrade to 0.5.0
  docs/package-lock.json
  docs/package.json
  extensions/react-widget/package-lock.json
  extensions/react-widget/package.json
  extensions/react-widget/publish.sh
  extensions/react-widget/src/components/DocsGPTWidget.tsx
Labels: docs, extensions
