Repository arc53/DocsGPT, pull requests merged in 2025-03, with the labels that each got.

#1648 feat: agent-retriever workflow + logging stack
  application/agents/agent_creator.py
  application/agents/base.py
  application/agents/classic_agent.py
  application/agents/llm_handler.py
  application/agents/tools/api_tool.py
  application/agents/tools/base.py
  application/agents/tools/cryptoprice.py
  application/agents/tools/telegram.py
  application/agents/tools/tool_action_parser.py
  application/agents/tools/tool_manager.py
  application/api/answer/routes.py
  application/api/user/routes.py
  application/core/settings.py
  application/llm/google_ai.py
  application/llm/openai.py
  application/logging.py
  application/retriever/classic_rag.py
  application/tools/llm_handler.py
  application/tools/tool_action_parser.py
  application/usage.py
Labels: application

#1671 Enables Enter Key Functionality to Submit Edited Chats
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#1692 feat: ntfy tool
  application/agents/tools/ntfy.py
  frontend/public/toolIcons/tool_ntfy.svg
Labels: frontend, application

#1693 feat: agent use in answer and enhance search
  application/agents/classic_agent.py
  application/api/answer/routes.py
Labels: application

#1696 Fixes cache
  application/api/answer/routes.py
  application/cache.py
Labels: application

#1689 feat: novita llms support
  application/api/answer/routes.py
  application/llm/llm_creator.py
  application/llm/novita.py
  setup.sh
Labels: repo, application

#1670 Figma consolidation
  frontend/src/Hero.tsx
  frontend/src/Navigation.tsx
  frontend/src/assets/eye-view.svg
  frontend/src/assets/sync.svg
  frontend/src/assets/user.png
  frontend/src/assets/user.svg
  frontend/src/components/ContextMenu.tsx
  frontend/src/components/CopyButton.tsx
  frontend/src/components/Dropdown.tsx
  frontend/src/components/DropdownMenu.tsx
  frontend/src/components/Input.tsx
  frontend/src/components/SettingsBar.tsx
  frontend/src/components/SourceDropdown.tsx
  frontend/src/components/ToggleSwitch.tsx
  frontend/src/components/types/index.ts
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/ConversationTile.tsx
  frontend/src/conversation/sharedConversationSlice.ts
  frontend/src/index.css
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/ru.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
  frontend/src/modals/AddActionModal.tsx
  frontend/src/modals/AddToolModal.tsx
  frontend/src/modals/ChunkModal.tsx
  frontend/src/modals/ConfigToolModal.tsx
  frontend/src/modals/ConfirmationModal.tsx
  frontend/src/modals/CreateAPIKeyModal.tsx
  frontend/src/modals/DeleteConvModal.tsx
  frontend/src/modals/SaveAPIKeyModal.tsx
  frontend/src/modals/ShareConversationModal.tsx
  frontend/src/preferences/PromptsModal.tsx
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/Analytics.tsx
  frontend/src/settings/Documents.tsx
  frontend/src/settings/General.tsx
  frontend/src/settings/Logs.tsx
  frontend/src/settings/Prompts.tsx
  frontend/src/settings/ToolConfig.tsx
  frontend/src/settings/Tools.tsx
  frontend/src/upload/Upload.tsx
  frontend/tailwind.config.cjs
Labels: frontend

#1700 fix: docker compose up doesn't use the env
  setup.sh
Labels: repo

#1702 fix signature for AzureOpenAILLM
  application/llm/openai.py
Labels: application

#1708 Refactor(fe): Conversation
  frontend/src/Hero.tsx
  frontend/src/components/Input.tsx
  frontend/src/components/MessageInput.tsx
  frontend/src/components/SourceDropdown.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationMessages.tsx
  frontend/src/conversation/SharedConversation.tsx
  frontend/src/conversation/conversationSlice.ts
  frontend/src/index.css
  frontend/src/modals/ShareConversationModal.tsx
  frontend/src/utils/dateTimeUtils.ts
Labels: frontend

#1701 feat: implement JWT authentication and token management
  application/agents/base.py
  application/agents/classic_agent.py
  application/api/answer/routes.py
  application/api/user/routes.py
  application/app.py
  application/auth.py
  application/core/settings.py
  application/llm/base.py
  application/llm/llm_creator.py
  application/requirements.txt
  application/retriever/brave_search.py
  application/retriever/classic_rag.py
  application/retriever/duckduck_search.py
  application/usage.py
  frontend/src/App.tsx
  frontend/src/Navigation.tsx
  frontend/src/api/client.ts
  frontend/src/api/endpoints.ts
  frontend/src/api/services/conversationService.ts
  frontend/src/api/services/userService.ts
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/SharedConversation.tsx
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/conversationSlice.ts
  frontend/src/hooks/useDefaultDocument.ts
  frontend/src/hooks/useTokenAuth.ts
  frontend/src/modals/AddToolModal.tsx
  frontend/src/modals/ConfigToolModal.tsx
  frontend/src/modals/CreateAPIKeyModal.tsx
  frontend/src/modals/JWTModal.tsx
  frontend/src/modals/ShareConversationModal.tsx
  frontend/src/preferences/preferenceApi.ts
  frontend/src/preferences/preferenceSlice.ts
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/Analytics.tsx
  frontend/src/settings/Documents.tsx
  frontend/src/settings/General.tsx
  frontend/src/settings/Logs.tsx
  frontend/src/settings/Prompts.tsx
  frontend/src/settings/ToolConfig.tsx
  frontend/src/settings/Tools.tsx
  frontend/src/settings/index.tsx
  frontend/src/store.ts
  frontend/src/upload/Upload.tsx
Labels: frontend, application

#1714 fix: brave and duckduckgo retrievers
  application/retriever/brave_search.py
  application/retriever/duckduck_search.py
  frontend/src/upload/Upload.tsx
  tests/test_vector_store.py
Labels: frontend, application, tests

#1709 Update Navigation.tsx
  frontend/src/Navigation.tsx
  frontend/src/conversation/ConversationTile.tsx
Labels: frontend
