Repository arc53/DocsGPT, pull requests merged in 2025-04, with the labels that each got.

#1721 feat: ReActAgent and agent refactor
  application/agents/__init__.py
  application/agents/agent_creator.py
  application/agents/base.py
  application/agents/classic_agent.py
  application/agents/react_agent.py
  application/api/answer/routes.py
  application/prompts/react_final_prompt.txt
  application/prompts/react_planning_prompt.txt
  frontend/src/assets/cloud.svg
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/ConversationMessages.tsx
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/conversationModels.ts
  frontend/src/conversation/conversationSlice.ts
  frontend/src/conversation/sharedConversationSlice.ts
Labels: frontend, application

#1716 Sources + Tools
  application/agents/base.py
  application/agents/classic_agent.py
  application/agents/llm_handler.py
  application/api/answer/routes.py
  application/api/user/routes.py
  application/api/user/tasks.py
  application/worker.py
  frontend/src/App.tsx
  frontend/src/Navigation.tsx
  frontend/src/api/endpoints.ts
  frontend/src/assets/clip.svg
  frontend/src/assets/paper_plane.svg
  frontend/src/assets/redirect.svg
  frontend/src/assets/source.svg
  frontend/src/assets/tool.svg
  frontend/src/components/MessageInput.tsx
  frontend/src/components/SourcesPopup.tsx
  frontend/src/components/ToolsPopup.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/ConversationMessages.tsx
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/conversationModels.ts
  frontend/src/conversation/conversationSlice.ts
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/ru.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
  frontend/src/settings/Tools.tsx
  frontend/src/settings/index.tsx
Labels: frontend, application

#1722 fix[csv_parser]:missing header
  application/parser/file/tabular_parser.py
Labels: application

#1734 fix: thought param in /api/answer
  application/api/answer/routes.py
Labels: application

#1729 win-setup
  README.md
  docs/pages/quickstart.mdx
  setup.ps1
Labels: docs, repo

#1733 Attachments: Enhancements , strategy specific to certain LLMs
  application/agents/classic_agent.py
  application/agents/llm_handler.py
  application/api/answer/routes.py
  application/api/user/routes.py
  application/llm/base.py
  application/llm/google_ai.py
  application/llm/openai.py
  application/worker.py
  frontend/src/components/MessageInput.tsx
  frontend/src/components/SourcesPopup.tsx
  frontend/src/components/ToolsPopup.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/ConversationMessages.tsx
  frontend/src/conversation/conversationModels.ts
  frontend/src/conversation/conversationSlice.ts
  frontend/src/utils/browserUtils.ts
Labels: frontend, application

#1739 feat: new agents section
  application/agents/base.py
  application/agents/classic_agent.py
  application/agents/react_agent.py
  application/api/answer/routes.py
  application/api/user/routes.py
  frontend/package-lock.json
  frontend/package.json
  frontend/prettier.config.cjs
  frontend/src/App.tsx
  frontend/src/Navigation.tsx
  frontend/src/agents/AgentLogs.tsx
  frontend/src/agents/AgentPreview.tsx
  frontend/src/agents/NewAgent.tsx
  frontend/src/agents/index.tsx
  frontend/src/agents/types/index.ts
  frontend/src/api/endpoints.ts
  frontend/src/api/services/userService.ts
  frontend/src/assets/copy-linear.svg
  frontend/src/assets/monitoring.svg
  frontend/src/assets/red-trash.svg
  frontend/src/assets/robot.svg
  frontend/src/assets/science-spark-dark.svg
  frontend/src/assets/science-spark.svg
  frontend/src/assets/spark.svg
  frontend/src/assets/white-trash.svg
  frontend/src/components/ContextMenu.tsx
  frontend/src/components/Dropdown.tsx
  frontend/src/components/Input.tsx
  frontend/src/components/MessageInput.tsx
  frontend/src/components/MultiSelectPopup.tsx
  frontend/src/components/SettingsBar.tsx
  frontend/src/components/types/index.ts
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationMessages.tsx
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/conversationModels.ts
  frontend/src/conversation/conversationSlice.ts
  frontend/src/hooks/usePromptManager.ts
  frontend/src/modals/AgentDetailsModal.tsx
  frontend/src/models/misc.ts
  frontend/src/preferences/preferenceApi.ts
  frontend/src/preferences/preferenceSlice.ts
  frontend/src/preferences/types/index.ts
  frontend/src/settings/Analytics.tsx
  frontend/src/settings/Logs.tsx
  frontend/src/settings/index.tsx
  frontend/src/store.ts
Labels: frontend, application

#1742 File System Abstraction
  application/agents/llm_handler.py
  application/api/internal/routes.py
  application/api/user/routes.py
  application/api/user/tasks.py
  application/core/settings.py
  application/llm/google_ai.py
  application/llm/openai.py
  application/storage/base.py
  application/storage/local.py
  application/storage/s3.py
  application/storage/storage_creator.py
  application/vectorstore/faiss.py
  application/worker.py
Labels: application

#1755 feat: agent webhook and minor fixes
  application/agents/base.py
  application/agents/classic_agent.py
  application/agents/react_agent.py
  application/api/user/routes.py
  application/api/user/tasks.py
  application/logging.py
  application/worker.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Navigation.tsx
  frontend/src/agents/AgentLogs.tsx
  frontend/src/agents/AgentPreview.tsx
  frontend/src/agents/NewAgent.tsx
  frontend/src/agents/index.tsx
  frontend/src/api/endpoints.ts
  frontend/src/api/services/userService.ts
  frontend/src/assets/monitoring-purple.svg
  frontend/src/assets/monitoring-white.svg
  frontend/src/components/CopyButton.tsx
  frontend/src/components/MessageInput.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/modals/AgentDetailsModal.tsx
  frontend/src/modals/ConfirmationModal.tsx
  frontend/src/settings/Analytics.tsx
  frontend/src/settings/Logs.tsx
Labels: frontend, application
