Repository arc53/DocsGPT, pull requests merged in 2025-09, with the labels that each got.

#1937 Connectors: Google Drive Ingestion
  application/agents/base.py
  application/api/connector/routes.py
  application/api/user/routes.py
  application/api/user/tasks.py
  application/app.py
  application/core/settings.py
  application/parser/connectors/__init__.py
  application/parser/connectors/base.py
  application/parser/connectors/connector_creator.py
  application/parser/connectors/google_drive/__init__.py
  application/parser/connectors/google_drive/auth.py
  application/parser/connectors/google_drive/loader.py
  application/parser/remote/remote_creator.py
  application/requirements.txt
  application/worker.py
  frontend/src/api/endpoints.ts
  frontend/src/api/services/userService.ts
  frontend/src/components/ConnectorAuth.tsx
  frontend/src/components/ConnectorTreeComponent.tsx
  frontend/src/components/FileTreeComponent.tsx
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/ru.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
  frontend/src/settings/Sources.tsx
  frontend/src/upload/Upload.tsx
  frontend/src/upload/types/ingestor.ts
  frontend/src/utils/providerUtils.ts
  frontend/src/utils/stringUtils.ts
Labels: frontend, application

#1928 bugfix(ui): several UI/UX updates and fixes
  frontend/src/Hero.tsx
  frontend/src/agents/NewAgent.tsx
  frontend/src/assets/checkmark.svg
  frontend/src/assets/spinner-dark.svg
  frontend/src/assets/spinner.svg
  frontend/src/components/MessageInput.tsx
  frontend/src/components/MultiSelectPopup.tsx
  frontend/src/components/SourcesPopup.tsx
  frontend/src/components/ToggleSwitch.tsx
  frontend/src/components/ToolsPopup.tsx
  frontend/src/modals/WrapperModal.tsx
Labels: frontend

#1930 Added support for Multi select sources
  application/api/answer/services/stream_processor.py
  application/api/connector/routes.py
  application/api/user/routes.py
  application/retriever/base.py
  application/retriever/classic_rag.py
  application/vectorstore/base.py
  frontend/src/agents/NewAgent.tsx
  frontend/src/agents/types/index.ts
  frontend/src/api/services/userService.ts
  frontend/src/components/ConnectorAuth.tsx
  frontend/src/components/ConnectorTreeComponent.tsx
  frontend/src/components/FileTreeComponent.tsx
  frontend/src/components/MessageInput.tsx
  frontend/src/components/SourcesPopup.tsx
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/conversationModels.ts
  frontend/src/hooks/useDefaultDocument.ts
  frontend/src/modals/ShareConversationModal.tsx
  frontend/src/preferences/preferenceApi.ts
  frontend/src/preferences/preferenceSlice.ts
  frontend/src/settings/Sources.tsx
  frontend/src/upload/Upload.tsx
  frontend/src/upload/types/ingestor.ts
  frontend/src/utils/providerUtils.ts
Labels: frontend, application

#1954 Refinements: Files uploaded via Connectors
  application/api/connector/routes.py
  application/parser/connectors/google_drive/auth.py
  application/parser/connectors/google_drive/loader.py
  application/worker.py
  deployment/docker-compose-hub.yaml
  deployment/docker-compose.yaml
  docs/pages/Guides/Integrations/_meta.json
  docs/pages/Guides/Integrations/google-drive-connector.mdx
  docs/pages/Guides/_meta.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Navigation.tsx
  frontend/src/assets/crawler.svg
  frontend/src/assets/drive.svg
  frontend/src/assets/file_upload.svg
  frontend/src/assets/git_nav.svg
  frontend/src/assets/github.svg
  frontend/src/assets/reddit.svg
  frontend/src/assets/url.svg
  frontend/src/components/ConnectorAuth.tsx
  frontend/src/components/ConnectorTreeComponent.tsx
  frontend/src/components/FilePicker.tsx
  frontend/src/components/FileTreeComponent.tsx
  frontend/src/components/GoogleDrivePicker.tsx
  frontend/src/components/Input.tsx
  frontend/src/components/Table.tsx
  frontend/src/components/ToggleSwitch.tsx
  frontend/src/components/types/index.ts
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/ru.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
  frontend/src/modals/WrapperModal.tsx
  frontend/src/settings/Sources.tsx
  frontend/src/upload/Upload.tsx
  frontend/src/upload/types/ingestor.ts
Labels: docs, frontend, application

#1974 Test app fix
  tests/test_app.py
Labels: tests

#1975 fix: chunking
  application/agents/base.py
  application/retriever/classic_rag.py
Labels: application

#1976 OAuth fix for connector
  application/api/connector/routes.py
  application/core/settings.py
  application/parser/connectors/google_drive/auth.py
Labels: application

#1964 refactor: oauth + use fastmcp client for handling SSE and different transports in remote mcp
  application/agents/tools/mcp_tool.py
  application/api/user/routes.py
  application/api/user/tasks.py
  application/requirements.txt
  application/worker.py
  frontend/src/api/endpoints.ts
  frontend/src/api/services/userService.ts
  frontend/src/locale/en.json
  frontend/src/modals/MCPServerModal.tsx
Labels: frontend, application

#1988 Test coverage for parsers
  tests/parser/file/test_docs_parser.py
  tests/parser/file/test_epub_parser.py
  tests/parser/file/test_html_parser.py
  tests/parser/file/test_image_parser.py
  tests/parser/file/test_json_parser.py
  tests/parser/file/test_markdown_parser.py
  tests/parser/file/test_pptx_parser.py
  tests/parser/file/test_rst_parser.py
  tests/parser/file/test_tabular_parser.py
  tests/parser/remote/test_crawler_loader.py
  tests/parser/remote/test_crawler_markdown.py
  tests/parser/remote/test_github_loader.py
  tests/parser/remote/test_reddit_loader.py
  tests/parser/remote/test_web_loader.py
Labels: tests

#1992 fix: api answer tool call event
  application/api/answer/routes/base.py
Labels: application

#1991 Tests: coverage for application/llm/* and application/llm/handlers/* ; fix on parsers/test_markdown
  tests/llm/handlers/test_base.py
  tests/llm/handlers/test_google.py
  tests/llm/handlers/test_handler_creator.py
  tests/llm/handlers/test_openai.py
  tests/llm/test_anthropic.py
  tests/llm/test_anthropic_llm.py
  tests/llm/test_google_llm.py
  tests/llm/test_openai.py
  tests/llm/test_openai_llm.py
  tests/parser/file/test_html_parser.py
  tests/parser/file/test_image_parser.py
  tests/parser/file/test_json_parser.py
  tests/parser/file/test_markdown_parser.py
  tests/parser/file/test_pptx_parser.py
Labels: hacktoberfest, tests
