Repository arc53/DocsGPT, pull requests merged in 2025-07, with the labels that each got.

#1869 refactor: update user tools dict to use enumeration based key
  application/agents/base.py
Labels: application

#1883 feat: improve interactivity of publishing/drafting of agents
  application/api/user/routes.py
  application/utils.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/agents/AgentPreview.tsx
  frontend/src/agents/NewAgent.tsx
Labels: frontend, application

#1893 fix: replace secure_filename with safe_filename for attachment handling
  application/api/user/routes.py
Labels: application

#1896 feat: answer routes re-structure for better maintainability and reuse
  application/api/__init__.py
  application/api/answer/__init__.py
  application/api/answer/routes.py
  application/api/answer/routes/__init__.py
  application/api/answer/routes/answer.py
  application/api/answer/routes/base.py
  application/api/answer/routes/stream.py
  application/api/answer/services/__init__.py
  application/api/answer/services/conversation_service.py
  application/api/answer/services/stream_processor.py
  application/api/user/routes.py
  application/app.py
  application/core/settings.py
  application/extensions.py
  application/storage/__init__.py
  application/utils.py
  application/worker.py
  frontend/src/conversation/conversationHandlers.ts
  frontend/src/conversation/conversationModels.ts
  frontend/src/conversation/conversationSlice.ts
Labels: frontend, application

#1900 Docs: Expand and Clarify AUTH_TYPE Configuration and Authentication Methods (#1882)
  README.md
  docs/pages/Deploying/DocsGPT-Settings.mdx
  package-lock.json
Labels: docs, repo
