Repository arc53/DocsGPT, pull requests merged in 2025-01, with the labels that each got.

#1527 React extensions: Updating Search Bar
  extensions/react-widget/src/components/SearchBar.tsx
  extensions/react-widget/src/types/index.ts
  extensions/react-widget/src/utils/helper.ts
Labels: extensions

#1529 refactor: UI enhancement in tools
  application/api/user/routes.py
  frontend/src/api/endpoints.ts
  frontend/src/api/services/userService.ts
  frontend/src/assets/no-files-dark.svg
  frontend/src/assets/no-files.svg
  frontend/src/modals/AddToolModal.tsx
  frontend/src/modals/ConfirmationModal.tsx
  frontend/src/modals/WrapperModal.tsx
  frontend/src/settings/ToolConfig.tsx
  frontend/src/settings/Tools.tsx
Labels: frontend, application

#1531 Adding hover effects in Search component
  extensions/react-widget/src/components/SearchBar.tsx
Labels: extensions

#1549 Releasing docsgpt npm library v0.4.9
  docs/package.json
  extensions/react-widget/package-lock.json
  extensions/react-widget/package.json
Labels: docs, extensions

#1528 Basic UI
  application/api/user/routes.py
  frontend/src/Hero.tsx
  frontend/src/Navigation.tsx
  frontend/src/components/SettingsBar.tsx
  frontend/src/conversation/Conversation.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/conversation/ConversationTile.tsx
  frontend/src/conversation/SharedConversation.tsx
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/ru.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
  frontend/src/preferences/PromptsModal.tsx
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/Analytics.tsx
  frontend/src/settings/Documents.tsx
  frontend/src/settings/General.tsx
  frontend/src/settings/Logs.tsx
  frontend/src/settings/Prompts.tsx
  frontend/src/settings/Tools.tsx
  frontend/src/settings/index.tsx
Labels: frontend, application

#1570 Widget fixes
  extensions/react-widget/publish.sh
  extensions/react-widget/src/components/SearchBar.tsx
Labels: extensions

#1582 scraper with markdownify
  application/api/user/routes.py
  application/parser/remote/crawler_loader.py
  application/parser/remote/crawler_markdown.py
  application/requirements.txt
  application/worker.py
Labels: application

#1591 Sync locales
  frontend/src/components/DocumentPagination.tsx
  frontend/src/conversation/ConversationBubble.tsx
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/ru.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
  frontend/src/modals/AddToolModal.tsx
  frontend/src/modals/ConfigToolModal.tsx
  frontend/src/modals/ShareConversationModal.tsx
  frontend/src/modals/types/index.ts
  frontend/src/preferences/PromptsModal.tsx
  frontend/src/settings/Analytics.tsx
  frontend/src/settings/Documents.tsx
  frontend/src/settings/General.tsx
  frontend/src/settings/Logs.tsx
  frontend/src/settings/Tools.tsx
  frontend/src/upload/Upload.tsx
Labels: frontend

#1588 web loader fix
  application/parser/remote/web_loader.py
Labels: application

#1581 refactor: tool agent for action parser and handlers
  application/cache.py
  application/llm/base.py
  application/llm/google_ai.py
  application/llm/openai.py
  application/requirements.txt
  application/retriever/brave_search.py
  application/retriever/classic_rag.py
  application/retriever/duckduck_search.py
  application/tools/agent.py
  application/tools/llm_handler.py
  application/tools/tool_action_parser.py
Labels: application

#1594 Googleai compatability tools
  application/cache.py
  application/llm/base.py
  application/llm/google_ai.py
  application/llm/openai.py
  application/requirements.txt
  application/retriever/brave_search.py
  application/retriever/classic_rag.py
  application/retriever/duckduck_search.py
  application/tools/agent.py
  application/tools/llm_handler.py
  application/tools/tool_action_parser.py
Labels: application

#1600 feat: postgres tool
  application/requirements.txt
  application/tools/implementations/postgres.py
  frontend/public/toolIcons/tool_postgres.svg
Labels: frontend, application

#1604 Update docs readme
  CONTRIBUTING.md
  README.md
  docs/pages/Deploying/Development-Environment.md
  docs/pages/Deploying/Quickstart.md
  docs/pages/Deploying/_meta.json
Labels: docs, repo

#1607 Perfecting Settings/Documents
  application/api/user/routes.py
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/ru.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
  frontend/src/settings/APIKeys.tsx
  frontend/src/settings/Documents.tsx
  frontend/src/upload/Upload.tsx
  frontend/src/utils/dateTimeUtils.ts
Labels: frontend, application
