Repository arc53/DocsGPT, pull requests merged in 2025-08, with the labels that each got.

#1905 fix: qdrant issues
  application/api/answer/routes/stream.py
  application/vectorstore/qdrant.py
Labels: application

#1906 feat: implement PGVectorStore for PostgreSQL vector storage
  application/api/user/routes.py
  application/core/settings.py
  application/parser/file/image_parser.py
  application/vectorstore/pgvector.py
  application/vectorstore/vector_creator.py
Labels: application

#1917 Fixes missing attributes on shared agents
  application/api/user/routes.py
Labels: application

#1920 fix: always show the response bubble buttons.
  frontend/src/conversation/ConversationBubble.tsx
Labels: frontend

#1924 feat: add support for structured output and JSON schema validation
  application/agents/base.py
  application/api/answer/routes/answer.py
  application/api/answer/routes/base.py
  application/api/answer/services/stream_processor.py
  application/api/user/routes.py
  application/llm/base.py
  application/llm/google_ai.py
  application/llm/openai.py
  frontend/src/agents/NewAgent.tsx
  frontend/src/agents/agentPreviewSlice.ts
  frontend/src/agents/types/index.ts
  frontend/src/conversation/conversationModels.ts
  frontend/src/conversation/conversationSlice.ts
Labels: frontend, application

#1873 Sources are the new Docs
  application/api/internal/routes.py
  application/api/user/routes.py
  application/api/user/tasks.py
  application/parser/chunking.py
  application/parser/embedding_pipeline.py
  application/parser/file/bulk.py
  application/storage/base.py
  application/storage/local.py
  application/storage/s3.py
  application/vectorstore/faiss.py
  application/worker.py
  frontend/src/agents/agentPreviewSlice.ts
  frontend/src/api/endpoints.ts
  frontend/src/api/services/userService.ts
  frontend/src/assets/calendar.svg
  frontend/src/assets/disc.svg
  frontend/src/assets/file.svg
  frontend/src/assets/folder.svg
  frontend/src/assets/outline-source.svg
  frontend/src/assets/search.svg
  frontend/src/components/Chunks.tsx
  frontend/src/components/ContextMenu.tsx
  frontend/src/components/FileTreeComponent.tsx
  frontend/src/components/Head.tsx
  frontend/src/components/SettingsBar.tsx
  frontend/src/components/SkeletonLoader.tsx
  frontend/src/components/SourceDropdown.tsx
  frontend/src/components/SourcesPopup.tsx
  frontend/src/conversation/SharedConversation.tsx
  frontend/src/locale/en.json
  frontend/src/locale/es.json
  frontend/src/locale/jp.json
  frontend/src/locale/ru.json
  frontend/src/locale/zh-TW.json
  frontend/src/locale/zh.json
  frontend/src/models/misc.ts
  frontend/src/settings/Documents.tsx
  frontend/src/settings/Sources.tsx
  frontend/src/settings/index.tsx
  frontend/src/utils/dateTimeUtils.ts
Labels: frontend, application

#1936 Speed up scripts by loading containers from docker hub
  deployment/docker-compose-hub.yaml
  setup.ps1
  setup.sh
Labels: repo
